<center>
<img src="../../img/ods_stickers.jpg" />
    
## [mlcourse.ai](mlcourse.ai) â€“ Open Machine Learning Course 
Author: Arina Lopukhova (@erynn). Edited by [Yury Kashnitskiy](https://yorko.github.io) (@yorko). This material is subject to the terms and conditions of the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license. Free use is permitted for any non-commercial purpose.

<h1><center>Assignment #1. Fall 2018</center></h1>
<h2><center>Exploratory data analysis of Olympic games with Pandas</center></h2>

__There are ten questions about [120 years of Olympic history: athletes and results](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results/version/2) dataset in this task. Your task is to fill in the missing Python code and choose answers in [this web-form](https://docs.google.com/forms/d/179HYvlF_0x435CWdu2aOtR9a3flh0YCQXXNXhXaKw2M).__

Download the file `athlete_events.csv` from [Kaggle page](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results). The dataset has the following features (copied from Kaggle):

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [2]:
import pandas as pd

In [3]:
# Change the path to the dataset file if needed. 
PATH = 'data/athlete_events.csv'

In [4]:
data = pd.read_csv(PATH)
data.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>ID</th>
      <th>Name</th>
      <th>Sex</th>
      <th>Age</th>
      <th>Height</th>
      <th>Weight</th>
      <th>Team</th>
      <th>NOC</th>
      <th>Games</th>
      <th>Year</th>
      <th>Season</th>
      <th>City</th>
      <th>Sport</th>
      <th>Event</th>
      <th>Medal</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>A Dijiang</td>
      <td>M</td>
      <td>24.0</td>
      <td>180.0</td>
      <td>80.0</td>
      <td>China</td>
      <td>CHN</td>
      <td>1992 Summer</td>
      <td>1992</td>
      <td>Summer</td>
      <td>Barcelona</td>
      <td>Basketball</td>
      <td>Basketball Men's Basketball</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>A Lamusi</td>
      <td>M</td>
      <td>23.0</td>
      <td>170.0</td>
      <td>60.0</td>
      <td>China</td>
      <td>CHN</td>
      <td>2012 Summer</td>
      <td>2012</td>
      <td>Summer</td>
      <td>London</td>
      <td>Judo</td>
      <td>Judo Men's Extra-Lightweight</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>Gunnar Nielsen Aaby</td>
      <td>M</td>
      <td>24.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Denmark</td>
      <td>DEN</td>
      <td>1920 Summer</td>
      <td>1920</td>
      <td>Summer</td>
      <td>Antwerpen</td>
      <td>Football</td>
      <td>Football Men's Football</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>Edgar Lindenau Aabye</td>
      <td>M</td>
      <td>34.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Denmark/Sweden</td>
      <td>DEN</td>
      <td>1900 Summer</td>
      <td>1900</td>
      <td>Summer</td>
      <td>Paris</td>
      <td>Tug-Of-War</td>
      <td>Tug-Of-War Men's Tug-Of-War</td>
      <td>Gold</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>Christine Jacoba Aaftink</td>
      <td>F</td>
      <td>21.0</td>
      <td>185.0</td>
      <td>82.0</td>
      <td>Netherlands</td>
      <td>NED</td>
      <td>1988 Winter</td>
      <td>1988</td>
      <td>Winter</td>
      <td>Calgary</td>
      <td>Speed Skating</td>
      <td>Speed Skating Women's 500 metres</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
</div>

__1. How old were the youngest male and female participants of the 1996 Olympics?__

- 16 and 15
- 14 and 12 
- 16 and 12
- 13 and 11

In [5]:
# You code here 
min_age_M = data[(data.Year == 1996) & (data.Sex == 'M')]['Age'].min()
min_age_F = data[(data.Year == 1996) & (data.Sex == 'F')]['Age'].min()
print(int(min_age_M),'and', int(min_age_F))

14 and 12

__2. What was the percentage of male gymnasts among all the male participants of the 2000 Olympics? Round the answer to the first decimal.__

*Hint:* here and further if needed drop duplicated sportsmen to count only unique ones. 

- 0.2
- 1.5 
- 2.5
- 7.7

In [6]:
# You code here 
data_2000 = data[data.Year == 2000]
slice_M_2000 = data_2000[data_2000.Sex == 'M'][['Sport', 'Name']]
slice_M_2000_gym = slice_M_2000[slice_M_2000.Sport == 'Gymnastics']
round(100 * len(slice_M_2000_gym['Name'].unique()) / len(slice_M_2000['Name'].unique()),1)
# print('Percentage of male gymnnasts', round(100 * slice_M_2000[slice_M_2000 == 'Gymnastics'].count() / slice_M_2000.count() , 1))
# del slice_M_2000

1.5

__3. What are the mean and standard deviation of height for female basketball players participated in the 2000 Olympics? Round the answer to the first decimal.__

- 178.5 and 7.2
- 179.4 and 10
- 180.7 and 6.7
- 182.4 and 9.1

In [9]:
# You code here 
slice_F_2000 = data_2000[(data_2000.Sex == 'F') & (data_2000.Sport == 'Basketball')]['Height']
slice_F_2000_mean = round(slice_F_2000.mean(), 1)
slice_F_2000_std = round(slice_F_2000.std(), 1)
print(slice_F_2000_mean,'and', slice_F_2000_std)
del slice_F_2000

182.4 and 9.1

__4. Find a sportsperson participated in the 2002 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?__

- Judo
- Bobsleigh 
- Weightlifting
- Boxing

In [178]:
# You code here 
slice_2002 = data[data.Year == 2002]
print(slice_2002[slice_2002.Weight == max(slice_2002.Weight)]['Sport'].values[0])
del slice_2002

Bobsleigh

__3. What are the mean and standard deviation of height for female basketball players participated in the 2000 Olympics? Round the answer to the first decimal.__

- 178.5 and 7.2
- 179.4 and 10
- 180.7 and 6.7
- 182.4 and 9.1

__3. What are the mean and standard deviation of height for female basketball players participated in the 2000 Olympics? Round the answer to the first decimal.__

- 178.5 and 7.2
- 179.4 and 10
- 180.7 and 6.7
- 182.4 and 9.1

__5. How many times did Pawe Abratkiewicz participate in the Olympics held in different years?__

- 0
- 1 
- 2
- 3

In [211]:
# You code here 
len(data[data.Name == 'Pawe Abratkiewicz']['Year'].unique())

3

__6. How many silver medals in tennis did Australia win at the 2000 Olympics?__

- 0
- 1 
- 2 
- 3

In [218]:
# You code here 
data_2000[(data_2000.Team == 'Australia') & (data_2000.Sport == 'Tennis') & (data_2000.Medal == 'Silver')]['Medal'].count()

2

__7. Is it true that Switzerland won fewer medals than Serbia at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__ 

- Yes 
- No

In [181]:
# You code here 
data_2016_medal = data[(data.Year == 2016) & (pd.isnull(data.Medal) < 1)]
print(data_2016_medal[data_2016_medal.Team == 'Switzerland']['Medal'].count() < data_2016_medal[data_2016_medal.Team == 'Serbia']['Medal'].count())
del data_2016_medal

True

__8. What age category did the fewest and the most participants of the 2014 Olympics belong to?__
- [45-55] and [25-35) correspondingly
- [45-55] and [15-25) correspondingly
- [35-45] and [25-35) correspondingly
- [45-55] and [35-45) correspondingly

In [182]:
# You code here 
def age_category(age):
    if 15 <= age and age< 25: return '[15-25)'
    elif age < 35: return '[25-35)'
    elif age < 45: return '[35-45)'
    else: return '[45-55]'
data['AgeCategory'] = data['Age'].apply(age_category)
data[(data.Year == 2014)][['ID', 'AgeCategory']].groupby(['AgeCategory']).count()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>ID</th>
    </tr>
    <tr>
      <th>AgeCategory</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>[15-25)</th>
      <td>2027</td>
    </tr>
    <tr>
      <th>[25-35)</th>
      <td>2594</td>
    </tr>
    <tr>
      <th>[35-45)</th>
      <td>265</td>
    </tr>
    <tr>
      <th>[45-55]</th>
      <td>5</td>
    </tr>
  </tbody>
</table>
</div>

__9. Is it true that there were Summer Olympics held in Lake Placid? Is it true that there were Winter Olympics held in Sankt Moritz?__

- Yes, Yes
- Yes, No
- No, Yes 
- No, No

In [183]:
# You code here 
lp = data[(data.Season == 'Summer') & (data.City == 'Lake Placid')]['City'].count() > 0
sm = data[(data.Season == 'Winter') & (data.City == 'Sankt Moritz')]['City'].count() > 0
print(lp, sm)

False True

__10. What is the absolute difference between the number of unique sports at the 1995 Olympics and 2016 Olympics?__

- 16
- 24
- 26
- 34

In [184]:
# You code here 
len(data[data.Year == 2016]['Sport'].unique()) - len(data[data.Year == 1995]['Sport'].unique())

34