<center>
<img src="../../img/ods_stickers.jpg" />
    
## [mlcourse.ai](mlcourse.ai) â€“ Open Machine Learning Course 
Author: Arina Lopukhova (@erynn). Edited by [Yury Kashnitskiy](https://yorko.github.io) (@yorko). This material is subject to the terms and conditions of the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license. Free use is permitted for any non-commercial purpose.

<h1><center>Assignment #1. Fall 2018</center></h1>
<h2><center>Exploratory data analysis of Olympic games with Pandas</center></h2>

__There are ten questions about [120 years of Olympic history: athletes and results](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results/version/2) dataset in this task. Your task is to fill in the missing Python code and choose answers in [this web-form](https://docs.google.com/forms/d/179HYvlF_0x435CWdu2aOtR9a3flh0YCQXXNXhXaKw2M).__

Download the file `athlete_events.csv` from [Kaggle page](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results). The dataset has the following features (copied from Kaggle):

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [92]:
import pandas as pd
import numpy as np

In [93]:
# Change the path to the dataset file if needed. 
path = '../../data/athlete_events.csv'

In [94]:
data = pd.read_csv(path)
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

__1. How old were the youngest male and female participants of the 1996 Olympics?__

- 16 and 15
- __14 and 12__
- 16 and 12
- 13 and 11

In [95]:
# You code here
age_min_m = data[(data['Year'] == 1996) & (data['Sex'] == 'M')]['Age'].min()
age_min_f = data[(data['Year'] == 1996) & (data['Sex'] == 'F')]['Age'].min()
age_min_m, age_min_f

(14.0, 12.0)

__2. What was the percentage of male gymnasts among all the male participants of the 2000 Olympics? Round the answer to the first decimal.__

*Hint:* here and further if needed drop duplicated sportsmen to count only unique ones. 

- 0.2
- 1.5 
- 2.5
- __7.7__

In [96]:
# You code here
gymnasts = data[(data['Year'] == 2000) & (data['Sex'] == 'M') & (data['Sport'] == 'Gymnastics')].shape[0]
participants = data[(data['Year'] == 2000) & (data['Sex'] == 'M')].shape[0]
percentage = round((gymnasts / participants) * 100, 1)
percentage

7.7

__3. What are the mean and standard deviation of height for female basketball players participated in the 2000 Olympics? Round the answer to the first decimal.__

- 178.5 and 7.2
- 179.4 and 10
- 180.7 and 6.7
- __182.4 and 9.1__

In [97]:
# You code here
mean_height = round(data[(data['Year'] == 2000) & (data['Sex'] == 'F') & (data['Sport'] == 'Basketball')]['Height'].mean(), 1)
std_height = round(data[(data['Year'] == 2000) & (data['Sex'] == 'F') & (data['Sport'] == 'Basketball')]['Height'].std(), 1)
mean_height, std_height

(182.4, 9.1)

__4. Find a sportsperson participated in the 2002 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?__

- Judo
- __Bobsleigh__ 
- Weightlifting
- Boxing

In [98]:
# You code here
data.loc[data[data['Year'] == 2002]['Weight'].idxmax()]['Sport']

'Bobsleigh'

__5. How many times did Pawe Abratkiewicz participate in the Olympics held in different years?__

- 0
- 1 
- 2
- __3__

In [99]:
# You code here
data.loc[data['Name'] == 'Pawe Abratkiewicz']['Year'].nunique()

3

__6. How many silver medals in tennis did Australia win at the 2000 Olympics?__

- 0
- 1 
- __2__ 
- 3

In [100]:
# You code here
data[(data['Year'] == 2000) &
     (data['Team'] == 'Australia') &
     (data['Sport'] == 'Tennis') &
     (data['Medal'] == 'Silver')].shape[0]

2

__7. Is it true that Switzerland won fewer medals than Serbia at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__ 

- __Yes__ 
- No

In [101]:
# You code here 
switzerland_medals = data[(data['Year'] == 2016) & 
                          (data['Team'] == 'Switzerland') & 
                          (data['Medal'].isnull() == False)].shape[0]
serbia_medals = data[(data['Year'] == 2016) & 
                     (data['Team'] == 'Serbia') & 
                     (data['Medal'].isnull() == False)].shape[0]
switzerland_medals < serbia_medals

True

__8. What age category did the fewest and the most participants of the 2014 Olympics belong to?__
- [45-55] and [25-35) correspondingly
- __[45-55] and [15-25) correspondingly__
- [35-45] and [25-35) correspondingly
- [45-55] and [35-45) correspondingly

In [102]:
# You code here 
data.groupby(pd.cut(data['Age'], [0, 10, 15, 25, 35, 45, 55], right=False, include_lowest=False))['ID'].count()

Age
[0, 10)          0
[10, 15)      1077
[15, 25)    130057
[25, 35)    110991
[35, 45)     15111
[45, 55)      3273
Name: ID, dtype: int64

__9. Is it true that there were Summer Olympics held in Lake Placid? Is it true that there were Winter Olympics held in Sankt Moritz?__

- Yes, Yes
- Yes, No
- No, Yes 
- No, No

In [103]:
# You code here

__10. What is the absolute difference between the number of unique sports at the 1995 Olympics and 2016 Olympics?__

- 16
- 24
- 26
- 34

In [104]:
# You code here