<center>
<img src="../../img/ods_stickers.jpg" />
    
## [mlcourse.ai](mlcourse.ai) â€“ Open Machine Learning Course 
Author: Arina Lopukhova (@erynn). Edited by [Yury Kashnitskiy](https://yorko.github.io) (@yorko). This material is subject to the terms and conditions of the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license. Free use is permitted for any non-commercial purpose.

<h1><center>Assignment #1. Fall 2018</center></h1>
<h2><center>Exploratory data analysis of Olympic games with Pandas</center></h2>

__There are ten questions about [120 years of Olympic history: athletes and results](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results/version/2) dataset in this task. Your task is to fill in the missing Python code and choose answers in [this web-form](https://docs.google.com/forms/d/179HYvlF_0x435CWdu2aOtR9a3flh0YCQXXNXhXaKw2M).__

Download the file `athlete_events.csv` from [Kaggle page](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results). The dataset has the following features (copied from Kaggle):

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [1]:
import pandas as pd

In [2]:
# Change the path to the dataset file if needed. 
PATH = '../../data/athlete_events.csv'

In [3]:
data = pd.read_csv(PATH)
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

__1. How old were the youngest male and female participants of the 1996 Olympics?__

- 16 and 15
- 14 and 12 
- 16 and 12
- 13 and 11

In [4]:
# You code here 
print (data[(data['Year'] == 1996) & (data['Sex'] == 'M')]['Age'].min())
print (data[(data['Year'] == 1996) & (data['Sex'] == 'F')]['Age'].min())
#A: 14 12

14.0
12.0

__2. What was the percentage of male gymnasts among all the male participants of the 2000 Olympics? Round the answer to the first decimal.__

*Hint:* here and further if needed drop duplicated sportsmen to count only unique ones. 

- 0.2
- 1.5 
- 2.5
- 7.7

In [5]:
#You code here 
all_men = data[(data['Year'] == 2000) & (data['Sex'] == 'M')].drop_duplicates(['Name'])
gyms = all_men[all_men['Sport'] == 'Gymnastics']
print (round(gyms['Name'].count()/all_men['Name'].count()*100, 1))
# A:1.5

1.5

__3. What are the mean and standard deviation of height for female basketball players participated in the 2000 Olympics? Round the answer to the first decimal.__

- 178.5 and 7.2
- 179.4 and 10
- 180.7 and 6.7
- 182.4 and 9.1

In [6]:
# You code here 
basket_girls = data[(data['Year'] == 2000) & (data['Sex'] == 'F') & (data['Sport'] == 'Basketball')].drop_duplicates(['Name'])
print (round(basket_girls['Height'].mean(),1))
print (round(basket_girls['Height'].std(),1))
#A: 182.4 and 9.1

182.4
9.1

__4. Find a sportsperson participated in the 2002 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?__

- Judo
- Bobsleigh 
- Weightlifting
- Boxing

In [7]:
# You code here 
total = data[(data['Year'] == 2002)].drop_duplicates(['Name'])
total[total['Weight'] == total['Weight'].max()]['Sport']
# A: Bobsleigh

99154    Bobsleigh
Name: Sport, dtype: object

__5. How many times did Pawe Abratkiewicz participate in the Olympics held in different years?__

- 0
- 1 
- 2
- 3

In [8]:
# You code here 
data[data['Name'] == 'Pawe Abratkiewicz'].drop_duplicates(['Year'])['Year'].count()
# A: 3

3

__6. How many silver medals in tennis did Australia win at the 2000 Olympics?__

- 0
- 1 
- 2 
- 3

In [9]:
# You code here 
data[(data['Year'] == 2000) & (data['Team'] == 'Australia') & (data['Sport'] == 'Tennis') &(data['Medal'] == 'Silver')].shape[0]
#A: 2

2

__7. Is it true that Switzerland won fewer medals than Serbia at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__ 

- Yes 
- No

In [10]:
# You code here 
medals2016 = data[(data['Year'] == 2016)].dropna(subset=['Medal'])
medals2016[medals2016['Team'] == 'Switzerland']['Medal'].count() < medals2016[medals2016['Team'] == 'Serbia']['Medal'].count()
#A: Yes

True

__8. What age category did the fewest and the most participants of the 2014 Olympics belong to?__
- [45-55] and [25-35) correspondingly
- [45-55] and [15-25) correspondingly
- [35-45] and [25-35) correspondingly
- [45-55] and [35-45) correspondingly

In [31]:
# You code here 
bins = pd.IntervalIndex.from_tuples([(15, 25), (25, 35), (35, 45), (45,55)], closed='left')
print (bins)
#pd.cut(data['Age'], bins)
#pd.cut(data['Age'], 3)
#data[(data['Year'] == 2014)].shape, \
#data[(data['Year'] == 2014)].drop_duplicates(['Name']).shape
ages2014 = data[(data['Year'] == 2014)].drop_duplicates(['Name'])['Age']
pd.cut(ages2014,bins=bins)

IntervalIndex([[15, 25), [25, 35), [35, 45), [45, 55)]
              closed='left',
              dtype='interval[int64]')

40        [25, 35)
252       [15, 25)
277       [25, 35)
809       [15, 25)
942       [25, 35)
947       [25, 35)
952       [25, 35)
1206      [15, 25)
1334      [25, 35)
1519      [15, 25)
1641      [15, 25)
1911      [15, 25)
1915      [35, 45)
1957      [15, 25)
2013      [15, 25)
2128      [25, 35)
2157      [15, 25)
2563      [35, 45)
2956      [25, 35)
3127      [15, 25)
4217      [25, 35)
4222      [15, 25)
4468      [15, 25)
4513      [25, 35)
4632      [35, 45)
5302      [15, 25)
5380      [15, 25)
5485      [15, 25)
5502      [15, 25)
5503      [25, 35)
            ...
269132    [15, 25)
269157    [25, 35)
269215    [25, 35)
269284    [25, 35)
269301    [15, 25)
269302    [25, 35)
269309    [25, 35)
269444    [25, 35)
269451    [15, 25)
269564    [15, 25)
269581    [15, 25)
269632    [35, 45)
269659    [15, 25)
269889    [15, 25)
270029    [15, 25)
270061    [15, 25)
270144    [15, 25)
270167    [15, 25)
270175    [25, 35)
270253    [15, 25)
270260    [35, 45)
270275    [15, 25)
270392    [15, 25)
270510    [25, 35)
270593    [15, 25)
270609    [35, 45)
270675    [25, 35)
270928    [25, 35)
270966    [15, 25)
271112    [25, 35)
Name: Age, Length: 2744, dtype: category
Categories (4, interval[int64]): [[15, 25) < [25, 35) < [35, 45) < [45, 55)]

__9. Is it true that there were Summer Olympics held in Lake Placid? Is it true that there were Winter Olympics held in Sankt Moritz?__

- Yes, Yes
- Yes, No
- No, Yes 
- No, No

In [12]:
# You code here

__10. What is the absolute difference between the number of unique sports at the 1995 Olympics and 2016 Olympics?__

- 16
- 24
- 26
- 34

In [13]:
# You code here