<center>
<img src="../../img/ods_stickers.jpg">
    
## [mlcourse.ai](https://mlcourse.ai) - Open Machine Learning Course

Author: [Yury Kashnitsky](https://www.linkedin.com/in/festline/). Translated and edited by [Sergey Isaev](https://www.linkedin.com/in/isvforall/), [Artem Trunov](https://www.linkedin.com/in/datamove/), [Anastasia Manokhina](https://www.linkedin.com/in/anastasiamanokhina/), and [Yuanyuan Pao](https://www.linkedin.com/in/yuanyuanpao/). All content is distributed under the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license.

# <center> Assignment #1 (demo)
## <center>  Exploratory data analysis with Pandas


**Same assignment as a [Kaggle Kernel](https://www.kaggle.com/kashnitsky/a1-demo-pandas-and-uci-adult-dataset) + [solution](https://www.kaggle.com/kashnitsky/a1-demo-pandas-and-uci-adult-dataset-solution).**

**In this task you should use Pandas to answer a few questions about the [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) dataset. (You don't have to download the data â€“ it's already  in the repository). Choose the answers in the [web-form](https://docs.google.com/forms/d/1uY7MpI2trKx6FLWZte0uVh3ULV4Cm_tDud0VDFGCOKg).**

Unique values of all features (for more information, please see the links above):
- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.max.columns', 100)
# to draw pictures in jupyter notebook
%matplotlib inline 
import matplotlib.pyplot as plt
import seaborn as sns
# we don't like warnings
# you can comment the following 2 lines if you'd like to
import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv('../../data/adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age               32561 non-null int64
workclass         32561 non-null object
fnlwgt            32561 non-null int64
education         32561 non-null object
education-num     32561 non-null int64
marital-status    32561 non-null object
occupation        32561 non-null object
relationship      32561 non-null object
race              32561 non-null object
sex               32561 non-null object
capital-gain      32561 non-null int64
capital-loss      32561 non-null int64
hours-per-week    32561 non-null int64
native-country    32561 non-null object
salary            32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

**1. How many men and women (*sex* feature) are represented in this dataset?**

In [24]:
# You code here
data['salary'].value_counts()

<=50K    24720
>50K      7841
Name: salary, dtype: int64

**2. What is the average age (*age* feature) of women?**

In [6]:
# You code here
data[data['sex']=='Female']['age'].mean()

36.85823043357163

**3. What is the percentage of German citizens (*native-country* feature)?**

In [22]:
# You code here
data['native-country'].describe()
sum(data['native-country']=='Germany') / data.shape[0]

0.004207487485028101

**4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (*salary* feature) and those who earn less than 50K per year? **

In [35]:
# You code here
ages1=data[data['salary']=='>50K']['age']
ages2=data[data['salary']=='<=50K']['age']
print('The average age of the rich:{0}+-{1} years,\n\
       poor - {2} +- {3}'.format(round(ages1.mean()), round(ages1.std(),1),
                                 round(ages2.mean()), round(ages2.std(),1)))

The average age of the rich:44+-10.5 years,
       poor - 37 +- 14.0

**6. Is it true that people who earn more than 50K have at least high school education? (*education â€“ Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate* feature)**

In [36]:
# You code here
data[data['salary'] == '>50K']['education'].unique()

array(['HS-grad', 'Masters', 'Bachelors', 'Some-college', 'Assoc-voc',
       'Doctorate', 'Prof-school', 'Assoc-acdm', '7th-8th', '12th',
       '10th', '11th', '9th', '5th-6th', '1st-4th'], dtype=object)

**7. Display age statistics for each race (*race* feature) and each gender (*sex* feature). Use *groupby()* and *describe()*. Find the maximum age of men of *Amer-Indian-Eskimo* race.**

In [40]:
# You code here
for (race, sex), sub_df in data.groupby(['race', 'sex']):
    print("Race: {0}, sex: {1}".format(race, sex))
    print(sub_df['age'].describe())

Race: Amer-Indian-Eskimo, sex: Female
count    119.000000
mean      37.117647
std       13.114991
min       17.000000
25%       27.000000
50%       36.000000
75%       46.000000
max       80.000000
Name: age, dtype: float64
Race: Amer-Indian-Eskimo, sex: Male
count    192.000000
mean      37.208333
std       12.049563
min       17.000000
25%       28.000000
50%       35.000000
75%       45.000000
max       82.000000
Name: age, dtype: float64
Race: Asian-Pac-Islander, sex: Female
count    346.000000
mean      35.089595
std       12.300845
min       17.000000
25%       25.000000
50%       33.000000
75%       43.750000
max       75.000000
Name: age, dtype: float64
Race: Asian-Pac-Islander, sex: Male
count    693.000000
mean      39.073593
std       12.883944
min       18.000000
25%       29.000000
50%       37.000000
75%       46.000000
max       90.000000
Name: age, dtype: float64
Race: Black, sex: Female
count    1555.000000
mean       37.854019
std        12.637197
min        17.000000
25%        28.000000
50%        37.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Race: Black, sex: Male
count    1569.000000
mean       37.682600
std        12.882612
min        17.000000
25%        27.000000
50%        36.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Race: Other, sex: Female
count    109.000000
mean      31.678899
std       11.631599
min       17.000000
25%       23.000000
50%       29.000000
75%       39.000000
max       74.000000
Name: age, dtype: float64
Race: Other, sex: Male
count    162.000000
mean      34.654321
std       11.355531
min       17.000000
25%       26.000000
50%       32.000000
75%       42.000000
max       77.000000
Name: age, dtype: float64
Race: White, sex: Female
count    8642.000000
mean       36.811618
std        14.329093
min        17.000000
25%        25.000000
50%        35.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Race: White, sex: Male
count    19174.000000
mean        39.652498
std         13.436029
min         17.000000
25%         29.000000
50%         38.000000
75%         49.000000
max         90.000000
Name: age, dtype: float64

**8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (*marital-status* feature)? Consider as married those who have a *marital-status* starting with *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.**

In [61]:
# You code here
data[data['salary']=='>50K']['marital-status'].isin(['Married-civ-spouse', 
                                                     'Married-spouse-absent',
                                                     'Married-AF-spouse']).value_counts()

#data[data['marital-status']=='Married-civ-spouse']
#sum(data[data['marital-status']=='Married-spouse-absent'])+\
#sum(data[data['marital-status']=='Married-AF-spouse'])

True     6736
False    1105
Name: marital-status, dtype: int64

In [62]:
data['marital-status'].isin(['Married-civ-spouse', 
                                                     'Married-spouse-absent',
                                                     'Married-AF-spouse']).value_counts()

False    17144
True     15417
Name: marital-status, dtype: int64

**9. What is the maximum number of hours a person works per week (*hours-per-week* feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?**

In [87]:
# You code here
max_load = data['hours-per-week'].max()
print(max_load)

num_workaholics = (data[data['hours-per-week']==max_load]).shape[0]
print((data[data['hours-per-week']==max_load]).shape[0])
rich_people = data[(data['hours-per-week'] == max_load) & (data['salary']=='>50K')].shape[0] / num_workaholics
int(rich_people*100)

99
85

29

**10. Count the average time of work (*hours-per-week*) for those who earn a little and a lot (*salary*) for each country (*native-country*). What will these be for Japan?**

In [94]:
# You code here
for (nativecountry, salary), sub_df in data.groupby(['native-country','salary']):
    print("{0} slry:{1}".format(nativecountry, salary),\
    round(sub_df['hours-per-week'].mean(),2))

? slry:<=50K 40.16
? slry:>50K 45.55
Cambodia slry:<=50K 41.42
Cambodia slry:>50K 40.0
Canada slry:<=50K 37.91
Canada slry:>50K 45.64
China slry:<=50K 37.38
China slry:>50K 38.9
Columbia slry:<=50K 38.68
Columbia slry:>50K 50.0
Cuba slry:<=50K 37.99
Cuba slry:>50K 42.44
Dominican-Republic slry:<=50K 42.34
Dominican-Republic slry:>50K 47.0
Ecuador slry:<=50K 38.04
Ecuador slry:>50K 48.75
El-Salvador slry:<=50K 36.03
El-Salvador slry:>50K 45.0
England slry:<=50K 40.48
England slry:>50K 44.53
France slry:<=50K 41.06
France slry:>50K 50.75
Germany slry:<=50K 39.14
Germany slry:>50K 44.98
Greece slry:<=50K 41.81
Greece slry:>50K 50.62
Guatemala slry:<=50K 39.36
Guatemala slry:>50K 36.67
Haiti slry:<=50K 36.33
Haiti slry:>50K 42.75
Holand-Netherlands slry:<=50K 40.0
Honduras slry:<=50K 34.33
Honduras slry:>50K 60.0
Hong slry:<=50K 39.14
Hong slry:>50K 45.0
Hungary slry:<=50K 31.3
Hungary slry:>50K 50.0
India slry:<=50K 38.23
India slry:>50K 46.48
Iran slry:<=50K 41.44
Iran slry:>50K 47.5
Ireland slry:<=50K 40.95
Ireland slry:>50K 48.0
Italy slry:<=50K 39.62
Italy slry:>50K 45.4
Jamaica slry:<=50K 38.24
Jamaica slry:>50K 41.1
Japan slry:<=50K 41.0
Japan slry:>50K 47.96
Laos slry:<=50K 40.38
Laos slry:>50K 40.0
Mexico slry:<=50K 40.0
Mexico slry:>50K 46.58
Nicaragua slry:<=50K 36.09
Nicaragua slry:>50K 37.5
Outlying-US(Guam-USVI-etc) slry:<=50K 41.86
Peru slry:<=50K 35.07
Peru slry:>50K 40.0
Philippines slry:<=50K 38.07
Philippines slry:>50K 43.03
Poland slry:<=50K 38.17
Poland slry:>50K 39.0
Portugal slry:<=50K 41.94
Portugal slry:>50K 41.5
Puerto-Rico slry:<=50K 38.47
Puerto-Rico slry:>50K 39.42
Scotland slry:<=50K 39.44
Scotland slry:>50K 46.67
South slry:<=50K 40.16
South slry:>50K 51.44
Taiwan slry:<=50K 33.77
Taiwan slry:>50K 46.8
Thailand slry:<=50K 42.87
Thailand slry:>50K 58.33
Trinadad&Tobago slry:<=50K 37.06
Trinadad&Tobago slry:>50K 40.0
United-States slry:<=50K 38.8
United-States slry:>50K 45.51
Vietnam slry:<=50K 37.19
Vietnam slry:>50K 39.2
Yugoslavia slry:<=50K 41.6
Yugoslavia slry:>50K 49.5

In [111]:
pd.crosstab(data['native-country'], data['salary'], 
           values=data['hours-per-week'], aggfunc=np.mean).T

native-country,?,Cambodia,Canada,China,Columbia,Cuba,Dominican-Republic,Ecuador,El-Salvador,England,France,Germany,Greece,Guatemala,Haiti,Holand-Netherlands,Honduras,Hong,Hungary,India,Iran,Ireland,Italy,Jamaica,Japan,Laos,Mexico,Nicaragua,Outlying-US(Guam-USVI-etc),Peru,Philippines,Poland,Portugal,Puerto-Rico,Scotland,South,Taiwan,Thailand,Trinadad&Tobago,United-States,Vietnam,Yugoslavia
salary,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
<=50K,40.164760,41.416667,37.914634,37.381818,38.684211,37.985714,42.338235,38.041667,36.030928,40.483333,41.058824,39.139785,41.809524,39.360656,36.325,40.0,34.333333,39.142857,31.3,38.233333,41.44,40.947368,39.625,38.239437,41.000000,40.375,40.003279,36.09375,41.857143,35.068966,38.065693,38.166667,41.939394,38.470588,39.444444,40.15625,33.774194,42.866667,37.058824,38.799127,37.193548,41.6
>50K,45.547945,40.000000,45.641026,38.900000,50.000000,42.440000,47.000000,48.750000,45.000000,44.533333,50.750000,44.977273,50.625000,36.666667,42.750,NaN,60.000000,45.000000,50.0,46.475000,47.50,48.000000,45.400,41.100000,47.958333,40.000,46.575758,37.50000,NaN,40.000000,43.032787,39.000000,41.500000,39.416667,46.666667,51.43750,46.800000,58.333333,40.000000,45.505369,39.200000,49.5