<center>
<img src="https://github.com/Yorko/mlcourse.ai/blob/master/img/ods_stickers.jpg?raw=true" />
    
## mlcourse.ai – Open Machine Learning Course
Auteur: Arina Lopukhova (@erynn). Edité par [Yury Kashnitskiy] (https://yorko.github.io) (@yorko) et Vadim Shestopalov (@vchulski). Traduit par [Ousmane Cissé](https://github.com/oussou-dev) Ce matériel est soumis aux termes et conditions de la licence [Creative Commons CC BY-NC-SA 4.0] (https://creativecommons.org/licenses/by-nc-sa/4.0/). L'utilisation gratuite est autorisée à des fins non commerciales.

# <center>Mission # 1. Automne 2019
## <center>Analyse exploratoire des données des jeux olympiques avec la librairie Pandas
    
<img src='https://github.com/Yorko/mlcourse.ai/blob/master/img/olympic_logo.png?raw=true' width=50%>

Avant de travailler sur la mission, il est conseillé de consulter le matériel de cours correspondant:
 - [Exploratory data analysis with Pandas](https://nbviewer.jupyter.org/github/Yorko/mlcourse_open/blob/master/jupyter_english/topic01_pandas_data_analysis/topic1_pandas_data_analysis.ipynb?flush_cache=true), en version interactive sur [Kaggle Kernel](https://www.kaggle.com/kashnitsky/topic-1-exploratory-data-analysis-with-pandas)
 - les premières vidéos via mlcourse.ai [YouTube playlist ](https://www.youtube.com/watch?v=QKTuw4PNOsU&list=PLVlY_7IJCMJeRfZ68eVfEcu-UcN9BbwiX)
 - vous pouvez également vous entraîner via des exercices plus simples et déjà partagés avec des solutions: [A1 demo](https://www.kaggle.com/kashnitsky/a1-demo-pandas-and-uci-adult-dataset), [solution](https://www.kaggle.com/kashnitsky/a1-demo-pandas-and-uci-adult-dataset-solution)

### Votre tâche consiste à:
 1. écrire du code et effectuer des calculs dans les cellules ci-dessous
 2. Choisir les réponses dans le [formulaire](https://docs.google.com/forms/d/1JxhQ9Bg4OpM3E5N47ZuRbILgDuMRbvEnUbDMZK8L-NU). Les solutions seront partagées uniquement avec ceux qui ont rempli ce formulaire
 3. envoyer les réponses après avoir mentionné une adresse mail et <**> retenez-la <**>! Ce sera votre identifiant pendant toute le durée de la formation. Indiquez également votre vrai nom complet dans le formulaire (aucun pseudo autorisé dans le top 100 final [rating](https://mlcourse.ai/rating)). En cas de doute, vous pouvez soumettre à nouveau le formulaire jusqu'à la date limite pour la mission A1, pas de problème, mais tenez-vous qu'à une seule et même adresse mail.
 
### <center> Date limite pour la mission A1 : le 15 septembre 2019 à 20h59 GMT (heure de Londres)
    
Vous obtiendrez jusqu'à 10 crédits pour cette affectation.

### Comment obtenir de l'aide
Dans [ODS Slack](https://opendatascience.slack.com) (si vous n'y avez toujours pas accès, renseignez le [formulaire](https://docs.google.com/forms/d/10HAN5huM996snUKjsNYyT_oOlm2uOsTKulKurb3oiNM/) présent sur la page principale de mlcourse.ai), nous avons un canal **#mlcourse_ ai _news** avec les annonces de l’équipe du cours.
Vous pouvez discuter du contenu du cours librement sur le canal **#mlcourse_ ai** (nous avons toujours un groupe de langue russe énorme, ils ont un canal séparé **#mlcourse_ai_rus**).

Voici comment vous pouvez répondre à un fil de discussion (appuyez sur cette icône de boîte de dialogue pour explorer un fil de discussion):

<img src="https://github.com/Yorko/mlcourse.ai/blob/master/img/start_a_thread.png?raw=true" />

Veuillez vous en tenir aux discussions spéciales *a1_q1-5_fall2019* et *a1_q6-10_fall2019* dans **# mlcourse_ai_news** pour vos questions sur A1. S'entraider sans partager le code et les réponses corrects. Notre TA **Vadim @vchulski** est là pour vous aider (uniquement dans le fil mentionné, ne lui écrivez pas directement).

Enfin, vous pouvez enregistrer des messages utiles en les épinglant, puis trouver des éléments épinglés en haut, juste en dessous du nom de la chaîne:

<img src="https://github.com/Yorko/mlcourse.ai/blob/master/img/pinned_item.png?raw=true" />

### Mission
__Il y a dix questions sur portant sur les 120 ans d'histoire des jeux olympiques. Votre mission consiste à renseigner le code Python manquant et à choisir les réponses dans [ce formulaire](https://docs.google.com/forms/d/1JxhQ9Bg4OpM3E5N47ZuRbILgDuMRbvEnUbDMZK8L-NU).__

Téléchargez le fichier `athlete_events.csv` depuis [cette source](https://drive.google.com/file/d/1f5v6Z2ayc7h698FG_98wP5x1Y2zZQeox/view?usp=sharing) (collecté par [rgriffin](https://www.randigriffin.com/) depuis [sports-reference](https://www.sports-reference.com)).  
L'ensemble des données possède les caractéristiques suivantes :

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [5]:
import pandas as pd

In [6]:
# Change the path to the dataset file if needed. 
PATH = 'athlete_events.csv'

In [7]:
data = pd.read_csv(PATH)
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

__1. Quels âges avaient les plus jeunes participants masculins et féminins aux Jeux olympiques de 1992?__

*Pour les discussions, merci de vous en tenir à [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, fil épinglé #a1_q1-5_fall2019*

- 16 et 15
- 14 et 13
- 13 et 11
- 11 et 12

In [4]:
# You code here

__2. Quel était le pourcentage de joueurs de basketball parmi tous les participants "masculins" aux Jeux olympiques de 2012 ? Arrondis la réponse à la première décimale.__

_Conseil_ : si nécessaire pour cette question et les suivantes, retirez les sportifs dupliqués (en doublon) pour ne les compter qu'une fois.

*Pour les discussions, merci de vous en tenir à [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, fil épinglé #a1_q1-5_fall2019*

- 0,2
- 1,5
- 2,5
- 7,7

In [5]:
# You code here

__3. Quelles sont la moyenne et la déviation standard (écart-type) de la taille des joueuse de tennis ayant participé aux Jeux olympiques de 2000 ? Arrondis la réponse à la première décimale.__

*Pour les discussions, merci de vous en tenir à [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, fil épinglé #a1_q1-5_fall2019*

- 171,8 et 6,5
- 179,4 et 10
- 180.7 et 6.7
- 182.4 et 9.1

In [6]:
# You code here

__4. Trouvez un sportif qui a participé aux Jeux olympiques de 2006, avec le poids le plus élevé parmi les autres participants aux mêmes Jeux olympiques. Quel sport a-t-il ou elle fait?__

*Pour les discussions, merci de vous en tenir à [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, fil épinglé #a1_q1-5_fall2019*

- Judo
- le bobsleigh
- squelette
- Boxe

In [7]:
# You code here

__5. Combien de fois John Aalberg a-t-il participé aux Jeux olympiques organisés différentes années?__

*Pour les discussions, merci de vous en tenir à [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, fil épinglé #a1_q1-5_fall2019*

- 0
- 1
- 2
- 3

In [8]:
# You code here

__6. Combien de médailles d'or au tennis les sportifs de l'équipe de Suisse ont-ils remporté aux Jeux olympiques de 2008? Comptez chaque médaille de chaque sportif.__

*Pour les discussions, merci de vous en tenir à [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, fil épinglé #a1_q6-10_fall2019*

- 0
- 1
- 2
- 3

In [9]:
# You code here

__7. Est-il vrai que l'Espagne a remporté moins de médailles que l'Italie aux Jeux olympiques de 2016? Ne considérez pas les valeurs NaN dans la colonne _Medal_.__

*Pour les discussions, merci de vous en tenir à [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, fil épinglé #a1_q6-10_fall2019*

- Oui
- Non

In [10]:
# You code here

__8. À quelles catégories d'âge appartenaient le moins et le plus grand nombre de participants aux Jeux olympiques de 2008?__

*Pour les discussions, merci de vous en tenir à [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, fil épinglé #a1_q6-10_fall2019*

- [45-55] et [25-35) respectivement
- [45-55] et [15-25) respectivement
- [35-45) et [25-35) respectivement
- [45-55] et [35-45) respectivement

In [11]:
# You code here

__9. Est-il vrai qu'il y a eu des jeux olympiques d'été à Atlanta? Est-il vrai qu'il y a eu des Jeux olympiques d'hiver à Squaw Valley?__

*Pour les discussions, merci de vous en tenir à [ODS Slack] (https://opendatascience.slack.com/), channel #mlcourse_ai_news, fil épinglé # a1_q6-10_fall2019*

- Oui oui
- Oui Non
- Non Oui
- Non non

In [12]:
# You code here

__10. Quelle est, en valeur absolue, la différence entre le nombre de sports aux Jeux olympiques de 1986 et aux Jeux olympiques de 2002?__

*Pour les discussions, merci de vous en tenir à [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, fil épinglé #a1_q6-10_fall2019*

- 3
- dix
- 15
- 27

In [13]:
# You code here

That's it! Now go and do 30 push-ups! :)