<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению. Сессия № 2
</center>
Автор материала: программист-исследователь Mail.ru Group, старший преподаватель Факультета Компьютерных Наук ВШЭ Юрий Кашницкий. Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center> Домашнее задание № 1
## <center> Анализ данных по сердечно-сосудистым заболеваниям

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным о сердечно-сосудистых заболеваниях (качать данные не надо, они уже есть в репозитории). Данные использовались в соревновании [Ml Boot Camp 5](http://mlbootcamp.ru/round/12/sandbox/).**

**Заполните код в клетках (где написано "Ваш код здесь") и ответьте на вопросы в [веб-форме](https://goo.gl/8D8uDf).**

В соревновании предлагалось определить наличие/отсутствие сердечно-сосудистых заболеваний (ССЗ) по результатам осмотра пациента.

**Описание данных.**

Объективные признаки:

 - Возраст (age)
 - Рост (height)
 - Вес (weight)
 - Пол (gender)
 

Результаты измерения:

 - Артериальное давление верхнее и нижнее (ap_hi, ap_lo)
 - Холестерин (cholesterol)
 - Глюкоза (gluc)
 

Субъективные признаки (со слов пациентов):

 - Курение (smoke)
 - Употребление алкоголя (alco)
 - Физическая активность (active)
 
Целевой признак (который интересно будет прогнозировать):
 - Наличие сердечно-сосудистых заболеваний по результатам классического врачебного осмотра (cardio)

Значения показателей холестерина и глюкозы представлены одним из трех классов: норма, выше нормы, значительно выше нормы. Значения субъективных признаков — бинарны.

Все показатели даны на момент осмотра.

Мы будем работать только с обучающей выборкой и с помощью `Pandas` проведем первичный анализ данных.

Из библиотек нам понадобятся только `NumPy` и `Pandas`.

In [2]:
import numpy as np
import pandas as pd

Считываем данные из CSV-файла в объект pandas DataFrame.

In [2]:
df = pd.read_csv('../../data/mlbootcamp5_train.csv', sep=';', index_col='id')

In [3]:
df.describe()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
count,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000
mean,19468.865814,1.349571,164.359229,74.205690,128.817286,96.630414,1.366871,1.226457,0.088129,0.053771,0.803729,0.499700
std,2467.251667,0.476838,8.210126,14.395757,154.011419,188.472530,0.680250,0.572270,0.283484,0.225568,0.397179,0.500003
min,10798.000000,1.000000,55.000000,10.000000,-150.000000,-70.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,17664.000000,1.000000,159.000000,65.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
50%,19703.000000,1.000000,165.000000,72.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
75%,21327.000000,2.000000,170.000000,82.000000,140.000000,90.000000,2.000000,1.000000,0.000000,0.000000,1.000000,1.000000
max,23713.000000,2.000000,250.000000,200.000000,16020.000000,11000.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000

Посмотрим не первые 5 записей.

In [8]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,man,168,62.0,110,80,1,1,0,0,1,0
1,20228,woman,156,85.0,140,90,3,1,0,0,1,1
2,18857,woman,165,64.0,130,70,3,1,0,0,0,1
3,17623,man,169,82.0,150,100,1,1,0,0,1,1
4,17474,woman,156,56.0,100,60,1,1,0,0,0,0

**<font color='red'>Вопрос 1 (1 балл).</font> Сколько мужчин и женщин представлено в этом наборе данных? Не было дано расшифровки признака "пол" (какому полу соответствует 1, а какому – 2 в признаке ``gender``) – это определите, посмотрев также на рост при разумном предположении, что в среднем мужчины выше.**

**<font color='red'>Варианты:</font>**
- 45530 женщин и 24470 мужчин
- 45530 мужчин и 24470 женщин
- 45470 женщин и 24530 мужчин
- 45470 мужчин и 24530 женщин

In [5]:
df[(df['gender']==1)]['height'].mean(), df[(df['gender']==2)]['height'].mean()

(161.35561168460356, 169.94789538210054)

In [6]:
df['gender'].value_counts()

1    45530
2    24470
Name: gender, dtype: int64

In [7]:
df = df.replace({'gender': {1: 'woman', 2: 'man'}})

- 1 - женщины
- 2 - мужчины

**Ответ:** 45530 женщин и 24470 мужчин;

**<font color='red'>Вопрос 2 (1 балл).</font> Кто в среднем чаще указывает, что употребляет алкоголь – мужчины или женщины?**

**<font color='red'>Варианты:</font>**
- женщины
- мужчины

In [9]:
pd.crosstab(df['gender'], df['alco'], normalize=True, margins=True)

alco           0         1       All
gender
man     0.312386  0.037186  0.349571
woman   0.633843  0.016586  0.650429
All     0.946229  0.053771  1.000000

**Ответ:** мужчины

**<font color='red'>Вопрос 3 (1 балл).</font> Во сколько раз (округленно) процент курящих среди мужчин больше, чем процент курящих среди женщин (по крайней мере, по этим анкетным данным)?**

**<font color='red'>Варианты:</font>**
- 4
- 8
- 12
- 16

In [10]:
procent_smoke_men =   len(df[(df['gender'] == 'man')   & (df['smoke'] == 1)]) / len(df[(df['gender'] == 'man')])   # %курящих мужчин
procent_smoke_women = len(df[(df['gender'] == 'woman') & (df['smoke'] == 1)]) / len(df[(df['gender'] == 'woman')]) # %курящих женщин

procent_smoke_men / procent_smoke_women

12.257833097333833

**Ответ:** 12

**<font color='red'>Вопрос 4 (1 балл).</font> Вы наверняка заметили, что значения возраста какие-то странные. Догадайтесь, в чем здесь измеряется возраст, и ответьте, на сколько месяцев (примерно) отличаются медианные значения возраста курящих и некурящих.**

**<font color='red'>Варианты:</font>**
- 5
- 10
- 15
- 20

In [11]:
df['month_age'] = (df['age'] / 365.0) * 12

In [12]:
df.groupby(['smoke'])['month_age'].agg([np.mean, np.median])

             mean      median
smoke
0      641.273449  648.394521
1      627.643954  628.767123

In [13]:
648.394521 - 628.767123

19.627398000000085

**Ответ:** 20

**<font color='red'>Вопрос 5 (2 балла).</font> В [статье](https://ru.wikipedia.org/wiki/Сердечно-сосудистый_риск) на Википедии про сердечно-сосудистый риск показана шкала SCORE для расчёта риска смерти от сердечно-сосудистого заболевания в ближайшие 10 лет. Вот она:**
<img src='../../img/SCORE2007.png' width=70%>

Давайте посмотрим на правый верхний прямоугольник, отображающий сегмент курящих мужчин в возрасте от 60 до 65 лет. (Неочевидно, но тут для возраста и давления цифры означают верхнюю границу).

Видим 9-ку в левом нижнем углу этого прямоугольника и 47 – в правом верхнем. То есть если при этом систолическое (т.е. верхнее) артериальное давление – меньше 120 мм рт.ст., то риск ССЗ оценивается примерно в 5 раз ниже, чем если бы давление лежало в интервале [160, 180). 

Давайте посчитаем аналогичное значение, но на наших данных. 

Уточнения:
- Посчитайте признак ``age_years`` – возраст в годах, округлив до целых. Для данного примера отберите людей от 60 до 64 лет включительно
- Категории уровня холестрина на рисунке и в наших данных отличаются. Отображение значений на картинке в значения признака ``cholesterol`` следующее: 4 ммоль/л $\rightarrow$ 1, 5-7 ммоль/л $\rightarrow$ 2, 8 ммоль/л $\rightarrow$ 3.

Во сколько раз (округленно) отличаются доли больных в двух сегментах, описанных выше? Посчитайте на наших данных.

**<font color='red'>Варианты:</font>**
- 2
- 3
- 4
- 5

In [14]:
df['year_age'] = df['age'] // 365

In [15]:
df.head(15)

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,month_age,year_age
id,,,,,,,,,,,,,,
0,18393,man,168,62.0,110,80,1,1,0,0,1,0,604.701370,50
1,20228,woman,156,85.0,140,90,3,1,0,0,1,1,665.030137,55
2,18857,woman,165,64.0,130,70,3,1,0,0,0,1,619.956164,51
3,17623,man,169,82.0,150,100,1,1,0,0,1,1,579.386301,48
4,17474,woman,156,56.0,100,60,1,1,0,0,0,0,574.487671,47
8,21914,woman,151,67.0,120,80,2,2,0,0,0,0,720.460274,60
9,22113,woman,157,93.0,130,80,3,1,0,0,1,0,727.002740,60
12,22584,man,178,95.0,130,90,3,3,0,0,1,1,742.487671,61
13,17668,woman,158,71.0,110,70,1,1,0,0,1,0,580.865753,48
14,19834,woman,164,68.0,110,60,1,1,0,0,0,0,652.076712,54
15,22530,woman,169,80.0,120,80,1,1,0,0,1,0,740.712329,61
16,18815,man,173,60.0,120,80,1,1,0,0,1,0,618.575342,51
18,14791,man,165,60.0,120,80,1,1,0,0,0,0,486.279452,40
21,19809,woman,158,78.0,110,70,1,1,0,0,1,0,651.254795,54
23,14532,man,181,95.0,130,90,1,1,1,1,1,0,477.764384,39

In [17]:
data = df[(df['gender'] == 'man') & (60 <= df['year_age']) & (df['year_age'] <= 64) & (df['smoke'] == 1)]

In [18]:
data[(df['cholesterol'] == 1) & (df['ap_hi'] <= 120)]['cardio'].value_counts(normalize=True)

/home/sasha253c/myprog/machine_learning/mlcourse_open/.venv/lib/python3.5/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

0    0.657025
1    0.342975
Name: cardio, dtype: float64

In [25]:
data[(df['cholesterol'] == 3) & (160 <= df['ap_hi']) & (df['ap_hi'] < 180)]['cardio'].value_counts(normalize=True)

/home/sasha253c/myprog/machine_learning/mlcourse_open/.venv/lib/python3.5/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

1    0.933333
0    0.066667
Name: cardio, dtype: float64

In [26]:
0.93 / 0.34

2.735294117647059

**Ответ:** 3

**<font color='red'>Вопрос 6 (2 балла).</font> Постройте новый признак – BMI ([Body Mass Index](https://en.wikipedia.org/wiki/Body_mass_index)). Для этого надо вес в килограммах поделить на квадрат роста в метрах. Нормальными считаются значения BMI от 18.5 до 25. Выберите верные утверждения.**

**<font color='red'>Утверждения:</font>**
- Медианный BMI по выборке лежит в пределах нормы
- У женщин в среднем BMI выше, чем у мужчин
- У здоровых в среднем BMI выше, чем у больных
- В сегменте здоровых и непьющих мужчин BMI ближе к норме, чем в сегменте здоровых и непьющих женщин

In [121]:
df['bmi'] = df['weight'] / (df['height'] /100) ** 2

In [124]:
df['bmi'].median()

26.374068120774975

In [125]:
df.pivot_table(['bmi'], ['gender'], 
               aggfunc='mean')

              bmi
gender
man     26.754442
woman   27.987583

In [126]:
df.pivot_table(['bmi'], ['cardio'], 
               aggfunc='mean')

              bmi
cardio
0       26.548175
1       28.566061

In [132]:
df[(df['gender'] == 'man') & (df['alco'] == 0) & (df['cardio'] == 0)]['bmi'].mean()

25.87263807546017

In [133]:
df[(df['gender'] == 'woman') & (df['alco'] == 0) & (df['cardio'] == 0)]['bmi'].mean()

26.845406594131507

**Ответ:** no, yes, no, yes

**<font color='red'>Вопрос 7 (2 балла).</font> ** Можно заметить, что данные не особо-то чистые, много в них всякой "грязи" и неточностей. Еще лучше мы это увидим, когда обсудим визуализацию данных.

Отфильтруйте следующие сегменты пациентов (считаем это ошибками в данных)
- указанное нижнее значение артериального давления выше верхнего. 
- рост строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили (используте `pd.Series.quantile`, если не знаете, что это такое – прочитайте)
- вес строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили

Этот вовсе не вся чистка данных, которую можно было проделать, но пока остановимся на этом.

Сколько процентов данных (округленно) мы выбросили?

**<font color='red'>Варианты:</font>**
- 8
- 9
- 10
- 11

In [27]:
len(df[(df['ap_hi'] < df['ap_lo'])])

1234

In [28]:
height = df['height']

In [29]:
height.quantile(0.025)

150.0

In [30]:
len(df[((df['height'] < height.quantile(0.025)) | (df['height'] > height.quantile(0.975)))])

2976

In [31]:
weight = df['weight']

In [32]:
df[((df['weight'] < weight.quantile(0.025)) | (df['weight'] > weight.quantile(0.975)))]

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,month_age,year_age
id,,,,,,,,,,,,,,
24,16782,man,172,112.0,120,80,1,1,0,0,0,1,551.736986,45
33,23376,man,156,45.0,110,60,1,1,0,0,1,0,768.526027,64
59,19764,woman,154,50.0,170,80,3,1,0,0,1,1,649.775342,54
81,20330,man,187,115.0,130,90,1,1,0,1,1,0,668.383562,55
109,16591,woman,159,49.0,120,70,1,1,0,0,1,0,545.457534,45
114,19570,woman,152,110.0,160,90,1,1,0,0,1,1,643.397260,53
142,14499,man,164,48.0,110,70,1,2,1,1,1,1,476.679452,39
170,19656,man,153,47.0,130,80,3,1,1,0,1,0,646.224658,53
183,17213,woman,153,50.0,120,80,1,1,0,0,1,0,565.906849,47
250,23312,woman,148,50.0,120,80,2,1,0,0,1,0,766.421918,63
363,20285,woman,153,49.0,110,60,1,1,0,0,1,0,666.904110,55
366,17460,woman,165,115.0,150,100,1,1,0,0,1,1,574.027397,47
373,16468,woman,149,50.0,120,80,2,2,0,0,0,0,541.413699,45
390,22510,man,170,115.0,120,80,2,2,0,0,1,0,740.054795,61
441,20593,woman,156,50.0,120,70,1,3,0,0,1,1,677.030137,56
474,21078,woman,157,142.0,120,80,1,1,0,0,1,1,692.975342,57
506,19803,woman,144,44.0,130,80,1,1,0,0,1,0,651.057534,54
543,19517,woman,147,41.0,80,50,1,1,0,0,1,0,641.654795,53
552,16718,man,165,169.0,120,80,1,1,0,0,1,0,549.632877,45
553,16772,woman,170,116.0,130,70,1,1,0,0,1,0,551.408219,45
585,20295,woman,164,50.0,100,60,1,1,1,0,1,0,667.232877,55
614,17425,woman,165,47.0,110,80,1,2,0,0,1,0,572.876712,47
618,16765,woman,186,200.0,130,70,1,1,0,0,0,0,551.178082,45
634,21237,man,178,120.0,160,90,1,3,0,0,1,1,698.202740,58
655,19863,woman,152,50.0,130,80,1,1,0,0,1,1,653.030137,54
712,17381,woman,151,117.0,160,90,2,1,0,0,0,1,571.430137,47
754,22023,woman,148,50.0,120,80,1,2,0,0,1,1,724.043836,60
777,23334,woman,147,110.0,140,90,3,1,0,0,0,1,767.145205,63
846,14705,woman,164,125.0,130,90,1,1,0,0,0,0,483.452055,40
879,23424,man,161,50.0,120,80,1,1,0,0,1,0,770.104110,64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99104,17351,man,182,112.0,160,80,1,1,0,0,1,1,570.443836,47
99133,15335,woman,154,46.0,110,70,2,2,0,0,1,0,504.164384,42
99182,23141,man,180,123.0,190,99,2,1,0,0,0,1,760.800000,63
99286,16732,woman,163,42.0,110,70,1,1,0,0,1,0,550.093151,45
99290,18195,woman,151,43.0,100,70,1,3,0,0,1,0,598.191781,49
99292,19770,woman,155,43.0,120,80,1,1,0,0,1,0,649.972603,54
99481,18778,woman,160,47.0,110,70,1,1,0,0,1,0,617.358904,51
99503,22322,woman,152,48.0,160,90,1,1,0,0,0,1,733.873973,61
99507,14925,woman,170,111.0,160,90,2,1,0,1,0,1,490.684932,40
99551,23224,man,151,45.0,120,70,3,1,1,1,0,1,763.528767,63
99553,23183,man,178,113.0,130,90,2,2,1,0,1,1,762.180822,63
99562,21357,woman,144,115.0,140,90,1,1,0,1,0,1,702.147945,58
99597,23305,woman,148,49.0,120,80,3,2,0,0,0,1,766.191781,63
99599,17541,woman,162,48.0,120,80,1,1,0,0,1,0,576.690411,48
99600,22505,woman,156,43.0,150,100,1,1,0,0,1,1,739.890411,61
99673,17541,woman,141,44.0,100,70,1,1,0,0,1,0,576.690411,48
99689,17575,woman,164,45.0,115,70,1,1,0,0,1,0,577.808219,48
99765,14683,woman,150,42.0,90,60,1,1,0,0,1,0,482.728767,40
99785,23646,woman,149,49.0,115,75,1,1,0,0,1,0,777.402740,64
99806,20052,woman,155,50.0,90,60,2,1,0,0,1,0,659.243836,54
99808,21906,woman,156,48.0,120,80,1,1,0,0,1,0,720.197260,60
99856,14823,woman,152,42.0,120,80,1,1,0,0,1,0,487.331507,40
99861,16002,woman,155,48.0,90,70,1,1,0,0,1,0,526.093151,43
99871,17312,woman,159,45.0,110,70,2,2,0,0,1,0,569.161644,47
99925,21333,woman,164,115.0,130,80,1,1,0,0,1,1,701.358904,58
99930,23305,man,172,113.0,110,80,1,1,0,0,0,1,766.191781,63
99948,16598,woman,161,50.0,110,75,1,1,0,0,1,0,545.687671,45
99972,17500,man,182,110.0,130,90,2,2,0,0,1,1,575.342466,47
99979,18852,woman,151,49.0,120,80,1,1,0,0,1,0,619.791781,51
99995,22601,woman,158,126.0,140,90,2,2,0,0,1,1,743.046575,61

In [33]:
len(df)

70000

In [34]:
len(df[(df['ap_hi'] < df['ap_lo']) | ((df['height'] < height.quantile(0.025)) | (df['height'] > height.quantile(0.975))) | ((df['weight'] < weight.quantile(0.025)) | (df['weight'] > weight.quantile(0.975)))]) / len(df)

0.0963

**Ответ:** 10

In [3]:
a = np.array([0, 1, 1, 0, -1, 1, -2, 0, 1, 1])

In [4]:
a.mean()

0.20000000000000001

In [5]:
from collections import Counter

In [6]:
Counter(a)

Counter({-2: 1, -1: 1, 0: 3, 1: 5})

In [9]:
for k, v in Counter(a).items():
    print(k, v)

0 3
1 5
-2 1
-1 1

In [12]:
p = np.array([0.1, 0.1, 0.3, 0.5])

In [13]:
l = np.array([-2, -1, 0, 1])

In [17]:
u = np.sum(p*l)

In [16]:
a.std()

0.97979589711327131

In [39]:
a.var()

0.96000000000000019

In [22]:
np.power(a, 2).mean() - (a.mean() ** 2)

0.95999999999999996

In [24]:
np.power(a - u, 2).mean()

0.96000000000000019

In [26]:
a.var(), a.var()**0.5

(0.96000000000000019, 0.97979589711327131)

In [27]:
a1 = pd.Series(a)

In [31]:
a1.mean(), a1.std(), a1.var()

(0.20000000000000001, 1.0327955589886446, 1.0666666666666669)

In [30]:
a1

0    0
1    1
2    1
3    0
4   -1
5    1
6   -2
7    0
8    1
9    1
dtype: int64

In [36]:
a1.skew(), a1.kurt()

(-1.2405649780820631, 0.94587053571428648)

In [38]:
a1.kurtosis()

0.94587053571428648

In [42]:
np.power(a - u, 3).mean() / (np.power(a - u, 2).mean() ** 3/2)

-2.2243923611111098

In [43]:
np.power(a - u, 3).mean() / (np.power(a - u, 2).mean() ** 2)

-1.067708333333333