<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению. Сессия № 2
</center>
Автор материала: программист-исследователь Mail.ru Group, старший преподаватель Факультета Компьютерных Наук ВШЭ Юрий Кашницкий. Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center> Домашнее задание № 1
## <center> Анализ данных по сердечно-сосудистым заболеваниям

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным о сердечно-сосудистых заболеваниях (качать данные не надо, они уже есть в репозитории). Данные использовались в соревновании [Ml Boot Camp 5](http://mlbootcamp.ru/round/12/sandbox/).**

**Заполните код в клетках (где написано "Ваш код здесь") и ответьте на вопросы в [веб-форме](https://goo.gl/8D8uDf).**

В соревновании предлагалось определить наличие/отсутствие сердечно-сосудистых заболеваний (ССЗ) по результатам осмотра пациента.

**Описание данных.**

Объективные признаки:

 - Возраст (age)
 - Рост (height)
 - Вес (weight)
 - Пол (gender)
 

Результаты измерения:

 - Артериальное давление верхнее и нижнее (ap_hi, ap_lo)
 - Холестерин (cholesterol)
 - Глюкоза (gluc)
 

Субъективные признаки (со слов пациентов):

 - Курение (smoke)
 - Употребление алкоголя (alco)
 - Физическая активность (active)
 
Целевой признак (который интересно будет прогнозировать):
 - Наличие сердечно-сосудистых заболеваний по результатам классического врачебного осмотра (cardio)

Значения показателей холестерина и глюкозы представлены одним из трех классов: норма, выше нормы, значительно выше нормы. Значения субъективных признаков — бинарны.

Все показатели даны на момент осмотра.

Мы будем работать только с обучающей выборкой и с помощью `Pandas` проведем первичный анализ данных.

Из библиотек нам понадобятся только `NumPy` и `Pandas`.

In [1]:
import numpy as np
import pandas as pd

Считываем данные из CSV-файла в объект pandas DataFrame.

In [2]:
df = pd.read_csv('../../data/mlbootcamp5_train.csv', sep=';', index_col='id')

Посмотрим не первые 5 записей.

In [3]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0

**<font color='red'>Вопрос 1 (1 балл).</font> Сколько мужчин и женщин представлено в этом наборе данных? Не было дано расшифровки признака "пол" (какому полу соответствует 1, а какому – 2 в признаке ``gender``) – это определите, посмотрев также на рост при разумном предположении, что в среднем мужчины выше.**

**<font color='red'>Варианты:</font>**
- 45530 женщин и 24470 мужчин
- 45530 мужчин и 24470 женщин
- 45470 женщин и 24530 мужчин
- 45470 мужчин и 24530 женщин

In [9]:
# Ваш код здесь
df.groupby("gender")["height"].agg([len, np.mean])
# df["sex"] = df["gender"].apply(lambda g: "female" if g == 1 else "male")
# df.head(5)

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,sex
id,,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0,male
1,20228,1,156,85.0,140,90,3,1,0,0,1,1,female
2,18857,1,165,64.0,130,70,3,1,0,0,0,1,female
3,17623,2,169,82.0,150,100,1,1,0,0,1,1,male
4,17474,1,156,56.0,100,60,1,1,0,0,0,0,female

**<font color='red'>Вопрос 2 (1 балл).</font> Кто в среднем чаще указывает, что употребляет алкоголь – мужчины или женщины?**

**<font color='red'>Варианты:</font>**
- женщины
- мужчины

In [10]:
# Ваш код здесь
pd.crosstab(df["sex"], df["alco"], normalize=True)

alco           0         1
sex
female  0.633843  0.016586
male    0.312386  0.037186

**<font color='red'>Вопрос 3 (1 балл).</font> Во сколько раз (округленно) процент курящих среди мужчин больше, чем процент курящих среди женщин (по крайней мере, по этим анкетным данным)?**

**<font color='red'>Варианты:</font>**
- 4
- 8
- 12
- 16

In [12]:
# Ваш код здесь
female_smoke = df[df["sex"] == "female"]["smoke"]
male_smoke = df[df["sex"] == "male"]["smoke"]

male_smoke.mean()/female_smoke.mean()

12.257833097333833

**<font color='red'>Вопрос 4 (1 балл).</font> Вы наверняка заметили, что значения возраста какие-то странные. Догадайтесь, в чем здесь измеряется возраст, и ответьте, на сколько месяцев (примерно) отличаются медианные значения возраста курящих и некурящих.**

**<font color='red'>Варианты:</font>**
- 5
- 10
- 15
- 20

In [14]:
# Ваш код здесь
df["age_in_months"] = df["age"] / 30
median_non_smokers = df[df["smoke"] == 0]["age_in_months"].median()
median_smokers = df[df["smoke"] == 1]["age_in_months"].median()

median_non_smokers - median_smokers

19.899999999999977

**<font color='red'>Вопрос 5 (2 балла).</font> В [статье](https://ru.wikipedia.org/wiki/Сердечно-сосудистый_риск) на Википедии про сердечно-сосудистый риск показана шкала SCORE для расчёта риска смерти от сердечно-сосудистого заболевания в ближайшие 10 лет. Вот она:**
<img src='../../img/SCORE2007.png' width=70%>

Давайте посмотрим на правый верхний прямоугольник, отображающий сегмент курящих мужчин в возрасте от 60 до 65 лет. (Неочевидно, но тут для возраста и давления цифры означают верхнюю границу).

Видим 9-ку в левом нижнем углу этого прямоугольника и 47 – в правом верхнем. То есть если при этом систолическое (т.е. верхнее) артериальное давление – меньше 120 мм рт.ст., то риск ССЗ оценивается примерно в 5 раз ниже, чем если бы давление лежало в интервале [160, 180). 

Давайте посчитаем аналогичное значение, но на наших данных. 

Уточнения:
- Посчитайте признак ``age_years`` – возраст в годах, округлив до целых. Для данного примера отберите людей от 60 до 64 лет включительно
- Категории уровня холестрина на рисунке и в наших данных отличаются. Отображение значений на картинке в значения признака ``cholesterol`` следующее: 4 ммоль/л $\rightarrow$ 1, 5-7 ммоль/л $\rightarrow$ 2, 8 ммоль/л $\rightarrow$ 3.

Во сколько раз (округленно) отличаются доли больных в двух сегментах, описанных выше? Посчитайте на наших данных.

**<font color='red'>Варианты:</font>**
- 2
- 3
- 4
- 5

In [48]:
# Ваш код здесь
df["age_years"] = round(df["age"] / 365)
target = df[(df["age_years"] >= 60.0) & 
            (df["age_years"] < 65.0) & 
            (df["sex"] == "male") 
            & (df["smoke"] == 1)]
group1 = target[(target["ap_hi"] < 120) & (target["cholesterol"] == 1)]
group2 = target[(target["ap_hi"] >= 160) & (target["ap_hi"] < 180) & (target["cholesterol"] == 3)]

round(group2["cardio"].mean() / group1["cardio"].mean())

3.0

**<font color='red'>Вопрос 6 (2 балла).</font> Постройте новый признак – BMI ([Body Mass Index](https://en.wikipedia.org/wiki/Body_mass_index)). Для этого надо вес в килограммах поделить на квадрат роста в метрах. Нормальными считаются значения BMI от 18.5 до 25. Выберите верные утверждения.**

**<font color='red'>Утверждения:</font>**
- Медианный BMI по выборке лежит в пределах нормы
- У женщин в среднем BMI выше, чем у мужчин
- У здоровых в среднем BMI выше, чем у больных
- В сегменте здоровых и непьющих мужчин BMI ближе к норме, чем в сегменте здоровых и непьющих женщин

In [64]:
# Ваш код здесь
df["BMI"] = df["weight"] / (df["height"] / 100) ** 2
18.5 < df["BMI"].median() < 25, \
df[df["sex"] == "female"]["BMI"].mean() > df[df["sex"] == "male"]["BMI"].mean(), \
df[df["cardio"] == 0]["BMI"].mean() > df[df["cardio"] == 1]["BMI"].mean(), \
df[(df["sex"] == "male") & (df["alco"] == 0) & (df["cardio"] == 0)]["BMI"].mean() < \
df[(df["sex"] == "female") & (df["alco"] == 0) & (df["cardio"] == 0)]["BMI"].mean()

(False, True, False, True)

**<font color='red'>Вопрос 7 (2 балла).</font> ** Можно заметить, что данные не особо-то чистые, много в них всякой "грязи" и неточностей. Еще лучше мы это увидим, когда обсудим визуализацию данных.

Отфильтруйте следующие сегменты пациентов (считаем это ошибками в данных)
- указанное нижнее значение артериального давления выше верхнего. 
- рост строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили (используте `pd.Series.quantile`, если не знаете, что это такое – прочитайте)
- вес строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили

Этот вовсе не вся чистка данных, которую можно было проделать, но пока остановимся на этом.

Сколько процентов данных (округленно) мы выбросили?

**<font color='red'>Варианты:</font>**
- 8
- 9
- 10
- 11

In [84]:
df["height"].quantile(.025), df["height"].quantile(.975), df["weight"].quantile(.025), df["weight"].quantile(.975)

(150.0, 180.0, 51.0, 108.0)

In [83]:
# Ваш код здесь
clean = df[df["ap_lo"] < df["ap_hi"]]
clean = df[(df["height"] >= df["height"].quantile(.025)) & (df["height"] <= df["height"].quantile(.975))]
clean = df[(df["weight"] >= df["weight"].quantile(.025)) & (df["weight"] <= df["weight"].quantile(.975))]

dirty = df[(df["ap_lo"] > df["ap_hi"]) | 
           (df["height"] < df["height"].quantile(.025)) | (df["height"] > df["height"].quantile(.975)) | 
           (df["weight"] < df["weight"].quantile(.025)) | (df["weight"] > df["weight"].quantile(.975))]
dirty
# round(100 * len(dirty) / len(df))

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,sex,age_in_months,age_years,BMI
id,,,,,,,,,,,,,,,,
23,14532,2,181,95.0,130,90,1,1,1,1,1,0,male,484.400000,40.0,28.997894
24,16782,2,172,112.0,120,80,1,1,0,0,0,1,male,559.400000,46.0,37.858302
33,23376,2,156,45.0,110,60,1,1,0,0,1,0,male,779.200000,64.0,18.491124
59,19764,1,154,50.0,170,80,3,1,0,0,1,1,female,658.800000,54.0,21.082813
81,20330,2,187,115.0,130,90,1,1,0,1,1,0,male,677.666667,56.0,32.886271
87,21752,1,148,80.0,130,90,1,1,0,0,1,1,female,725.066667,60.0,36.523009
105,20397,2,188,105.0,120,80,1,1,0,0,1,1,male,679.900000,56.0,29.708013
109,16591,1,159,49.0,120,70,1,1,0,0,1,0,female,553.033333,45.0,19.382145
114,19570,1,152,110.0,160,90,1,1,0,0,1,1,female,652.333333,54.0,47.610803
127,15946,2,185,88.0,133,89,2,3,0,0,1,0,male,531.533333,44.0,25.712199
138,18128,2,183,95.0,125,80,1,3,1,0,1,0,male,604.266667,50.0,28.367524
142,14499,2,164,48.0,110,70,1,2,1,1,1,1,male,483.300000,40.0,17.846520
170,19656,2,153,47.0,130,80,3,1,1,0,1,0,male,655.200000,54.0,20.077748
183,17213,1,153,50.0,120,80,1,1,0,0,1,0,female,573.766667,47.0,21.359306
184,22536,2,184,82.0,130,80,1,1,0,0,1,0,male,751.200000,62.0,24.220227
223,21135,1,148,53.0,120,80,1,1,0,0,1,1,female,704.500000,58.0,24.196494
250,23312,1,148,50.0,120,80,2,1,0,0,1,0,female,777.066667,64.0,22.826881
257,14557,2,182,75.0,120,80,1,1,0,0,1,0,male,485.233333,40.0,22.642193
261,14638,2,185,94.0,120,80,1,1,0,0,1,0,male,487.933333,40.0,27.465303
272,15212,2,183,85.0,120,80,1,1,0,0,1,0,male,507.066667,42.0,25.381469
287,15954,2,183,92.0,100,70,1,1,0,0,1,0,male,531.800000,44.0,27.471707
309,21800,2,76,55.0,120,80,1,1,0,0,1,0,male,726.666667,60.0,95.221607
314,17489,2,183,98.0,160,1100,1,2,1,0,1,1,male,582.966667,48.0,29.263340
322,20490,2,185,81.0,110,70,1,1,0,0,1,1,male,683.000000,56.0,23.666910
324,21377,1,149,60.0,120,80,1,1,0,0,0,0,female,712.566667,59.0,27.025810
334,21932,2,157,60.0,160,1000,2,1,0,0,0,1,male,731.066667,60.0,24.341758
343,18220,1,142,61.0,120,80,1,1,0,0,1,0,female,607.333333,50.0,30.251934
357,18217,1,150,83.0,140,800,1,1,0,0,1,1,female,607.233333,50.0,36.888889
363,20285,1,153,49.0,110,60,1,1,0,0,1,0,female,676.166667,56.0,20.932120
366,17460,1,165,115.0,150,100,1,1,0,0,1,1,female,582.000000,48.0,42.240588
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99660,21740,2,184,74.0,120,80,1,1,0,0,1,0,male,724.666667,60.0,21.857278
99670,21213,2,184,73.0,120,80,1,1,0,0,1,1,male,707.100000,58.0,21.561909
99673,17541,1,141,44.0,100,70,1,1,0,0,1,0,female,584.700000,48.0,22.131684
99674,20376,1,185,69.0,120,80,1,1,0,0,0,0,female,679.200000,56.0,20.160701
99678,19784,2,181,63.0,110,80,1,1,0,0,1,0,male,659.466667,54.0,19.230182
99689,17575,1,164,45.0,115,70,1,1,0,0,1,0,female,585.833333,48.0,16.731112
99765,14683,1,150,42.0,90,60,1,1,0,0,1,0,female,489.433333,40.0,18.666667
99785,23646,1,149,49.0,115,75,1,1,0,0,1,0,female,788.200000,65.0,22.071078
99798,21808,1,152,56.0,160,1000,1,1,0,0,1,1,female,726.933333,60.0,24.238227
99799,19736,2,188,108.0,130,80,2,2,0,1,0,1,male,657.866667,54.0,30.556813
99806,20052,1,155,50.0,90,60,2,1,0,0,1,0,female,668.400000,55.0,20.811655
99807,21239,2,168,95.0,160,1000,1,1,0,0,1,1,male,707.966667,58.0,33.659297
99808,21906,1,156,48.0,120,80,1,1,0,0,1,0,female,730.200000,60.0,19.723866
99816,22417,2,166,78.0,170,1000,1,1,0,0,0,0,male,747.233333,61.0,28.305995
99820,15241,2,183,84.0,110,80,1,1,0,0,1,1,male,508.033333,42.0,25.082863
99856,14823,1,152,42.0,120,80,1,1,0,0,1,0,female,494.100000,41.0,18.178670
99861,16002,1,155,48.0,90,70,1,1,0,0,1,0,female,533.400000,44.0,19.979188
99862,18748,2,186,101.0,110,80,3,1,0,0,1,0,male,624.933333,51.0,29.194126
99871,17312,1,159,45.0,110,70,2,2,0,0,1,0,female,577.066667,47.0,17.799929
99901,15843,1,143,70.0,120,90,2,1,0,0,1,1,female,528.100000,43.0,34.231503
99909,22608,1,149,61.0,130,90,2,3,0,0,1,0,female,753.600000,62.0,27.476240
99925,21333,1,164,115.0,130,80,1,1,0,0,1,1,female,711.100000,58.0,42.757287
99930,23305,2,172,113.0,110,80,1,1,0,0,0,1,male,776.833333,64.0,38.196322
99948,16598,1,161,50.0,110,75,1,1,0,0,1,0,female,553.266667,45.0,19.289379
99955,21416,2,168,63.0,140,1000,1,1,0,0,1,1,male,713.866667,59.0,22.321429
99963,21264,2,182,100.0,120,80,1,1,0,0,1,1,male,708.800000,58.0,30.189591
99972,17500,2,182,110.0,130,90,2,2,0,0,1,1,male,583.333333,48.0,33.208550
99979,18852,1,151,49.0,120,80,1,1,0,0,1,0,female,628.400000,52.0,21.490286
99995,22601,1,158,126.0,140,90,2,2,0,0,1,1,female,753.366667,62.0,50.472681
99996,19066,2,183,105.0,180,90,3,1,0,1,0,1,male,635.533333,52.0,31.353579