<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению. Сессия № 2
</center>
Автор материала: программист-исследователь Mail.ru Group, старший преподаватель Факультета Компьютерных Наук ВШЭ Юрий Кашницкий. Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center> Домашнее задание № 1
## <center> Анализ данных по сердечно-сосудистым заболеваниям

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным о сердечно-сосудистых заболеваниях (качать данные не надо, они уже есть в репозитории). Данные использовались в соревновании [Ml Boot Camp 5](http://mlbootcamp.ru/round/12/sandbox/).**

**Заполните код в клетках (где написано "Ваш код здесь") и ответьте на вопросы в [веб-форме](https://goo.gl/8D8uDf).**

В соревновании предлагалось определить наличие/отсутствие сердечно-сосудистых заболеваний (ССЗ) по результатам осмотра пациента.

**Описание данных.**

Объективные признаки:

 - Возраст (age)
 - Рост (height)
 - Вес (weight)
 - Пол (gender)
 

Результаты измерения:

 - Артериальное давление верхнее и нижнее (ap_hi, ap_lo)
 - Холестерин (cholesterol)
 - Глюкоза (gluc)
 

Субъективные признаки (со слов пациентов):

 - Курение (smoke)
 - Употребление алкоголя (alco)
 - Физическая активность (active)
 
Целевой признак (который интересно будет прогнозировать):
 - Наличие сердечно-сосудистых заболеваний по результатам классического врачебного осмотра (cardio)

Значения показателей холестерина и глюкозы представлены одним из трех классов: норма, выше нормы, значительно выше нормы. Значения субъективных признаков — бинарны.

Все показатели даны на момент осмотра.

Мы будем работать только с обучающей выборкой и с помощью `Pandas` проведем первичный анализ данных.

Из библиотек нам понадобятся только `NumPy` и `Pandas`.

In [2]:
import numpy as np
import pandas as pd

Считываем данные из CSV-файла в объект pandas DataFrame.

In [3]:
df = pd.read_csv('../../data/mlbootcamp5_train.csv', sep=';', index_col='id')

In [18]:
df.describe()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
count,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000
mean,19468.865814,1.349571,164.359229,74.205690,128.817286,96.630414,1.366871,1.226457,0.088129,0.053771,0.803729,0.499700
std,2467.251667,0.476838,8.210126,14.395757,154.011419,188.472530,0.680250,0.572270,0.283484,0.225568,0.397179,0.500003
min,10798.000000,1.000000,55.000000,10.000000,-150.000000,-70.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,17664.000000,1.000000,159.000000,65.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
50%,19703.000000,1.000000,165.000000,72.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
75%,21327.000000,2.000000,170.000000,82.000000,140.000000,90.000000,2.000000,1.000000,0.000000,0.000000,1.000000,1.000000
max,23713.000000,2.000000,250.000000,200.000000,16020.000000,11000.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000

Посмотрим не первые 5 записей.

In [4]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0

**<font color='red'>Вопрос 1 (1 балл).</font> Сколько мужчин и женщин представлено в этом наборе данных? Не было дано расшифровки признака "пол" (какому полу соответствует 1, а какому – 2 в признаке ``gender``) – это определите, посмотрев также на рост при разумном предположении, что в среднем мужчины выше.**

**<font color='red'>Варианты:</font>**
- 45530 женщин и 24470 мужчин
- 45530 мужчин и 24470 женщин
- 45470 женщин и 24530 мужчин
- 45470 мужчин и 24530 женщин

In [26]:
df[(df['gender']==1)]['height'].mean(), df[(df['gender']==2)]['height'].mean()

(nan, nan)

In [25]:
df['gender'].value_counts()

woman    45530
man      24470
Name: gender, dtype: int64

In [24]:
df = df.replace({'gender': {1: 'woman', 2: 'man'}})

- 1 - женщины
- 2 - мужчины

**Ответ:** 45530 женщин и 24470 мужчин;

**<font color='red'>Вопрос 2 (1 балл).</font> Кто в среднем чаще указывает, что употребляет алкоголь – мужчины или женщины?**

**<font color='red'>Варианты:</font>**
- женщины
- мужчины

In [28]:
pd.crosstab(df['gender'], df['alco'], normalize=True, margins=True)

alco           0         1       All
gender
man     0.312386  0.037186  0.349571
woman   0.633843  0.016586  0.650429
All     0.946229  0.053771  1.000000

**Ответ:** мужчины

**<font color='red'>Вопрос 3 (1 балл).</font> Во сколько раз (округленно) процент курящих среди мужчин больше, чем процент курящих среди женщин (по крайней мере, по этим анкетным данным)?**

**<font color='red'>Варианты:</font>**
- 4
- 8
- 12
- 16

In [47]:
procent_smoke_men =   len(df[(df['gender'] == 'man')   & (df['smoke'] == 1)]) / len(df[(df['gender'] == 'man')])   # %курящих мужчин
procent_smoke_women = len(df[(df['gender'] == 'woman') & (df['smoke'] == 1)]) / len(df[(df['gender'] == 'woman')]) # %курящих женщин

procent_smoke_men / procent_smoke_women

12.257833097333833

**Ответ:** 12

**<font color='red'>Вопрос 4 (1 балл).</font> Вы наверняка заметили, что значения возраста какие-то странные. Догадайтесь, в чем здесь измеряется возраст, и ответьте, на сколько месяцев (примерно) отличаются медианные значения возраста курящих и некурящих.**

**<font color='red'>Варианты:</font>**
- 5
- 10
- 15
- 20

In [56]:
df['month_age'] = (df['age'] / 365.0) * 12

In [60]:
df.groupby(['smoke'])['month_age'].agg([np.mean, np.median])

             mean      median
smoke
0      641.273449  648.394521
1      627.643954  628.767123

In [61]:
648.394521 - 628.767123

19.627398000000085

**Ответ:** 20

**<font color='red'>Вопрос 5 (2 балла).</font> В [статье](https://ru.wikipedia.org/wiki/Сердечно-сосудистый_риск) на Википедии про сердечно-сосудистый риск показана шкала SCORE для расчёта риска смерти от сердечно-сосудистого заболевания в ближайшие 10 лет. Вот она:**
<img src='../../img/SCORE2007.png' width=70%>

Давайте посмотрим на правый верхний прямоугольник, отображающий сегмент курящих мужчин в возрасте от 60 до 65 лет. (Неочевидно, но тут для возраста и давления цифры означают верхнюю границу).

Видим 9-ку в левом нижнем углу этого прямоугольника и 47 – в правом верхнем. То есть если при этом систолическое (т.е. верхнее) артериальное давление – меньше 120 мм рт.ст., то риск ССЗ оценивается примерно в 5 раз ниже, чем если бы давление лежало в интервале [160, 180). 

Давайте посчитаем аналогичное значение, но на наших данных. 

Уточнения:
- Посчитайте признак ``age_years`` – возраст в годах, округлив до целых. Для данного примера отберите людей от 60 до 64 лет включительно
- Категории уровня холестрина на рисунке и в наших данных отличаются. Отображение значений на картинке в значения признака ``cholesterol`` следующее: 4 ммоль/л $\rightarrow$ 1, 5-7 ммоль/л $\rightarrow$ 2, 8 ммоль/л $\rightarrow$ 3.

Во сколько раз (округленно) отличаются доли больных в двух сегментах, описанных выше? Посчитайте на наших данных.

**<font color='red'>Варианты:</font>**
- 2
- 3
- 4
- 5

In [66]:
df['year_age'] = df['age'] // 365

In [82]:
df.head(15)

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,month_age,year_age
id,,,,,,,,,,,,,,
0,18393,man,168,62.0,110,80,1,1,0,0,1,0,604.701370,50
1,20228,woman,156,85.0,140,90,3,1,0,0,1,1,665.030137,55
2,18857,woman,165,64.0,130,70,3,1,0,0,0,1,619.956164,51
3,17623,man,169,82.0,150,100,1,1,0,0,1,1,579.386301,48
4,17474,woman,156,56.0,100,60,1,1,0,0,0,0,574.487671,47
8,21914,woman,151,67.0,120,80,2,2,0,0,0,0,720.460274,60
9,22113,woman,157,93.0,130,80,3,1,0,0,1,0,727.002740,60
12,22584,man,178,95.0,130,90,3,3,0,0,1,1,742.487671,61
13,17668,woman,158,71.0,110,70,1,1,0,0,1,0,580.865753,48
14,19834,woman,164,68.0,110,60,1,1,0,0,0,0,652.076712,54
15,22530,woman,169,80.0,120,80,1,1,0,0,1,0,740.712329,61
16,18815,man,173,60.0,120,80,1,1,0,0,1,0,618.575342,51
18,14791,man,165,60.0,120,80,1,1,0,0,0,0,486.279452,40
21,19809,woman,158,78.0,110,70,1,1,0,0,1,0,651.254795,54
23,14532,man,181,95.0,130,90,1,1,1,1,1,0,477.764384,39

In [83]:
c = len(df[(60 <= df['year_age']) & (df['year_age'] <= 64) & (df['smoke'] == 1)])

In [110]:
data = df[(df['gender'] == 'man') & (60 <= df['year_age']) & (df['year_age'] <= 64) & (df['smoke'] == 1)]

In [117]:
data[(df['cholesterol'] == 1) & (df['ap_hi'] <= 120)]['cardio'].value_counts(normalize=True)

/home/sasha253c/myprog/machine_learning/mlcourse_open/.venv/lib/python3.5/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

0    0.657025
1    0.342975
Name: cardio, dtype: float64

In [119]:
data[(df['cholesterol'] == 3) & (160 <= df['ap_hi']) & (df['ap_hi'] <= 180)]['cardio'].value_counts(normalize=True)

/home/sasha253c/myprog/machine_learning/mlcourse_open/.venv/lib/python3.5/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

1    0.95
0    0.05
Name: cardio, dtype: float64

In [120]:
0.95 / 0.34

2.7941176470588234

**Ответ:** 3

**<font color='red'>Вопрос 6 (2 балла).</font> Постройте новый признак – BMI ([Body Mass Index](https://en.wikipedia.org/wiki/Body_mass_index)). Для этого надо вес в килограммах поделить на квадрат роста в метрах. Нормальными считаются значения BMI от 18.5 до 25. Выберите верные утверждения.**

**<font color='red'>Утверждения:</font>**
- Медианный BMI по выборке лежит в пределах нормы
- У женщин в среднем BMI выше, чем у мужчин
- У здоровых в среднем BMI выше, чем у больных
- В сегменте здоровых и непьющих мужчин BMI ближе к норме, чем в сегменте здоровых и непьющих женщин

In [121]:
df['bmi'] = df['weight'] / (df['height'] /100) ** 2

In [124]:
df['bmi'].median()

26.374068120774975

In [125]:
df.pivot_table(['bmi'], ['gender'], 
               aggfunc='mean')

              bmi
gender
man     26.754442
woman   27.987583

In [126]:
df.pivot_table(['bmi'], ['cardio'], 
               aggfunc='mean')

              bmi
cardio
0       26.548175
1       28.566061

In [132]:
df[(df['gender'] == 'man') & (df['alco'] == 0) & (df['cardio'] == 0)]['bmi'].mean()

25.87263807546017

In [133]:
df[(df['gender'] == 'woman') & (df['alco'] == 0) & (df['cardio'] == 0)]['bmi'].mean()

26.845406594131507

**Ответ:** no, yes, no, yes

**<font color='red'>Вопрос 7 (2 балла).</font> ** Можно заметить, что данные не особо-то чистые, много в них всякой "грязи" и неточностей. Еще лучше мы это увидим, когда обсудим визуализацию данных.

Отфильтруйте следующие сегменты пациентов (считаем это ошибками в данных)
- указанное нижнее значение артериального давления выше верхнего. 
- рост строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили (используте `pd.Series.quantile`, если не знаете, что это такое – прочитайте)
- вес строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили

Этот вовсе не вся чистка данных, которую можно было проделать, но пока остановимся на этом.

Сколько процентов данных (округленно) мы выбросили?

**<font color='red'>Варианты:</font>**
- 8
- 9
- 10
- 11

In [136]:
len(df[(df['ap_hi'] < df['ap_lo'])])

1234

In [153]:
height = df['height']

In [154]:
height.quantile(0.025)

150.0

In [155]:
len(df[((df['height'] < height.quantile(0.025)) | (df['height'] > height.quantile(0.975)))])

2976

In [156]:
weight = df['weight']

In [157]:
df[((df['weight'] < weight.quantile(0.025)) | (df['weight'] > weight.quantile(0.975)))]

3103

In [158]:
len(df)

70000

In [163]:
len(df[(df['ap_hi'] < df['ap_lo']) | ((df['height'] < height.quantile(0.025)) | (df['height'] > height.quantile(0.975))) | ((df['weight'] < weight.quantile(0.025)) | (df['weight'] > weight.quantile(0.975)))]) / len(df)

0.0963

**Ответ:** 10