<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению. Сессия № 3
Автор материала: программист-исследователь Mail.ru Group, старший преподаватель Факультета Компьютерных Наук ВШЭ Юрий Кашницкий. Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center> Домашнее задание № 1
## <center> Анализ данных по сердечно-сосудистым заболеваниям
*Идеальный просмотр Jupyter notebooks возможен только локально, GitHub и nbviewer могут неправильно отбражать формулы или картинки.*

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным о сердечно-сосудистых заболеваниях (качать данные не надо, они уже есть в репозитории). Данные использовались в соревновании [Ml Boot Camp 5](http://mlbootcamp.ru/round/12/sandbox/).**

**Заполните код в клетках (где написано "Ваш код здесь") и ответьте на вопросы в [веб-форме](https://docs.google.com/forms/d/1KbWiGlupiSwYlqc8nmV6KjB3vNTI0C5hxZ6Tq3ZU4QA).**

В соревновании предлагалось определить наличие/отсутствие сердечно-сосудистых заболеваний (ССЗ) по результатам осмотра пациента.

**Описание данных.**

Датасет сформирован из реальных клинических анализов, и в нём используются признаки, которые можно разбить на 3 группы:

Объективные признаки:

 - Возраст (age)
 - Рост (height)
 - Вес (weight)
 - Пол (gender)
 

Результаты измерения:

 - Артериальное давление верхнее и нижнее (ap_hi, ap_lo)
 - Холестерин (cholesterol)
 - Глюкоза (gluc)
 

Субъективные признаки (со слов пациентов):

 - Курение (smoke)
 - Употребление алкоголя (alco)
 - Физическая активность (active)
 
Целевой признак (который интересно будет прогнозировать):
 - Наличие сердечно-сосудистых заболеваний по результатам классического врачебного осмотра (cardio)

Значения показателей холестерина и глюкозы представлены одним из трех классов: норма, выше нормы, значительно выше нормы. Значения субъективных признаков — бинарны.

Все показатели даны на момент осмотра.

Мы будем работать только с обучающей выборкой и с помощью `Pandas` проведем первичный анализ данных.

Из библиотек нам понадобятся только `NumPy` и `Pandas`.

In [2]:
import numpy as np
import pandas as pd

Считываем данные из CSV-файла в объект pandas DataFrame.

In [3]:
df = pd.read_csv('../../data/mlbootcamp5_train.csv', sep=';', 
                 index_col='id')

Посмотрим на первые 5 записей.

In [4]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0

**<font color='red'>Вопрос 1 (1 балл).</font> Сколько мужчин и женщин представлено в этом наборе данных? Не было дано расшифровки признака "пол" (какому полу соответствует 1, а какому – 2 в признаке ``gender``) – это определите, посмотрев также на рост при разумном предположении, что в среднем мужчины выше (здесь и далее под средним понимается среднее арифметическое).**

**<font color='red'>Варианты:</font>**
- 45470 женщин и 24530 мужчин
- 45470 мужчин и 24530 женщин
- 45530 женщин и 24470 мужчин
- 45530 мужчин и 24470 женщин

In [5]:
# Определим признак "пол" по среднему весу и росту
columns_to_show = ['weight', 'height']
df.groupby(['gender'])[columns_to_show].describe(percentiles=[])

         weight                                            height              \
          count       mean        std   min   50%    max    count        mean
gender
1       45530.0  72.565605  14.238838  21.0  70.0  200.0  45530.0  161.355612
2       24470.0  77.257307  14.187636  10.0  75.0  200.0  24470.0  169.947895


             std   min    50%    max
gender
1       7.052726  55.0  161.0  250.0
2       7.228895  65.0  170.0  207.0

In [6]:
# В выборке представлены 45530 женщин и 24470 мужчин 
d = {1 : 'Female', 2 : 'Male'}
df['gender'] = df['gender'].map(d)
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,Male,168,62.0,110,80,1,1,0,0,1,0
1,20228,Female,156,85.0,140,90,3,1,0,0,1,1
2,18857,Female,165,64.0,130,70,3,1,0,0,0,1
3,17623,Male,169,82.0,150,100,1,1,0,0,1,1
4,17474,Female,156,56.0,100,60,1,1,0,0,0,0

**<font color='red'>Вопрос 2 (1 балл).</font> Кто в среднем реже указывает, что употребляет алкоголь – мужчины или женщины?**

**<font color='red'>Варианты:</font>**
- мужчины 
- женщины

In [7]:
pd.crosstab(df['gender'], df['alco'], normalize='index', margins=True)
#Женщины реже указывают, что уоптребляют алкоголь (2,5% женщин, по сравнению с 10,6% мужчин указали, что употребляют)

alco           0         1
gender
Female  0.974500  0.025500
Male    0.893625  0.106375
All     0.946229  0.053771

**<font color='red'>Вопрос 3 (1 балл).</font> Во сколько раз (округленно, `round`) процент курящих среди мужчин больше, чем процент курящих среди женщин (по крайней мере, по этим анкетным данным)?**

**<font color='red'>Варианты:</font>**
- 4
- 8
- 12
- 16

In [8]:
smoke = pd.crosstab(df['gender'], df['smoke'], normalize='index', margins=True)
print(smoke)
round(smoke[1]['Male']/smoke[1]['Female'])
# Процент курящих среди мужчин округленно больше в 12 раз, чем процент курящих среди женщин (согласно анкетным данным)

smoke          0         1
gender
Female  0.982144  0.017856
Male    0.781120  0.218880
All     0.911871  0.088129

12.0

**<font color='red'>Вопрос 4 (1 балл).</font> Вы наверняка заметили, что значения возраста какие-то странные. Догадайтесь, в чём здесь измеряется возраст, и ответьте, на сколько месяцев (примерно) отличаются медианные значения возраста курящих и некурящих.**

**<font color='red'>Варианты:</font>**
- 10
- 15
- 20
- 25

In [9]:
(df.groupby(['smoke'])['age'].agg(np.median)[0]-df.groupby(['smoke'])['age'].agg(np.median)[1])/365.25*12
# Медианные значения возраста курящих и некурящих отличаются приблизительно на 20 месяцев

19.613963039014372

**<font color='red'>Вопрос 5 (2 балла).</font> В [статье](https://ru.wikipedia.org/wiki/Сердечно-сосудистый_риск) на Википедии про сердечно-сосудистый риск показана шкала SCORE для расчёта риска смерти от сердечно-сосудистого заболевания в ближайшие 10 лет. Вот она:**
<img src='https://habrastorage.org/webt/gg/38/vf/gg38vfl5ql8obqjmlsvt9es76p8.png' width=70%>

Давайте посмотрим на правый верхний прямоугольник, отображающий сегмент курящих мужчин в возрасте от 60 до 64 лет включительно. (Неочевидно, но тут для возраста и давления цифры означают верхнюю границу, и она не включается).

Видим 9-ку в левом нижнем углу этого прямоугольника и 47 – в правом верхнем. То есть если при этом систолическое (т.е. верхнее) артериальное давление – меньше 120 мм рт.ст., а уровень холестерина – 4 ммоль/л, то риск ССЗ оценивается примерно в 5 раз ниже, чем если бы давление лежало в интервале [160, 180), а холестерина было бы 8 ммоль/л.

Давайте посчитаем аналогичное значение, но на наших данных. 

Уточнения:
- Создайте новый признак ``age_years`` – возраст в годах, округлив до целых (`round`). Для данного примера отберите курящих мужчин от 60 до 64 лет включительно
- Категории уровня холестрина на рисунке и в наших данных отличаются. Отображение значений на картинке в значения признака ``cholesterol`` следующее: 4 ммоль/л $\rightarrow$ 1, 5-7 ммоль/л $\rightarrow$ 2, 8 ммоль/л $\rightarrow$ 3.
- Интересуют 2 подвыборки курящих мужчин возраста от 60 до 64 лет включительно: первая с верхним артериальным давлением строго меньше 120 мм рт.ст. и концентрацией холестерина – 4 ммоль/л, а вторая – с верхним артериальным давлением от 160 (включительно) до 180 мм рт.ст. (не включительно) и концентрацией холестерина – 8 ммоль/л.

Во сколько раз (округленно, `round`) отличаются доли больных людей (согласно целевому признаку, `cardio`) в этих двух подвыборках? Посчитайте на наших данных.

**<font color='red'>Варианты:</font>**
- 2
- 3
- 4
- 5

In [10]:
# Создаем новый признак age_years - возраст в годах, округлив до целых (round)
df['age_years'] = round(df['age']/365.25)
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years
id,,,,,,,,,,,,,
0,18393,Male,168,62.0,110,80,1,1,0,0,1,0,50.0
1,20228,Female,156,85.0,140,90,3,1,0,0,1,1,55.0
2,18857,Female,165,64.0,130,70,3,1,0,0,0,1,52.0
3,17623,Male,169,82.0,150,100,1,1,0,0,1,1,48.0
4,17474,Female,156,56.0,100,60,1,1,0,0,0,0,48.0

In [11]:
# Отбираем курящих мужчин от 60 до 64 лет включительно
df1 = df[(df['gender'] == "Male")& 
         (df['age_years'] >= 60)& 
         (df['age_years'] <= 64)& 
         (df['smoke'] == 1)]

# Создаем две подвыборки согласно условиям задания:

# 1) с верхним артериальным давлением строго меньше 120 мм рт.ст. холестерин – 4 ммоль/л, 
df2 = df1[(df1['ap_hi'] < 120)& 
          (df1['cholesterol'] == 1)]

# 2) с верхним артериальным давлением от 160 (включительно) до 180 мм рт.ст.(не включительно) и холестерин – 8 ммоль/л.
df3 = df1[(df1['ap_hi'] >= 160)& 
          (df1['ap_hi'] < 180)& 
          (df1['cholesterol'] == 3)]

# Сравниваем соотношение больных людей в первой и второй выборке
print(df3['cardio'].mean()/df2['cardio'].mean())
print('Доли больный людей (согласно целевому признаку, cardio) в этих двух подвыборках отличаются (округленно) в', 
      round(df3['cardio'].mean()/df2['cardio'].mean()), 
      'раза')

3.281818181818182
Доли больный людей (согласно целевому признаку, cardio) в этих двух подвыборках отличаются (округленно) в 3 раза

**<font color='red'>Вопрос 6 (2 балла).</font> Постройте новый признак – BMI ([Body Mass Index](https://en.wikipedia.org/wiki/Body_mass_index)). Для этого надо вес в килограммах поделить на квадрат роста в метрах. Нормальными считаются значения BMI от 18.5 до 25. Выберите верные утверждения.**

**<font color='red'>Утверждения:</font>**
- Медианный BMI по выборке превышает норму
- У женщин в среднем BMI ниже, чем у мужчин
- У здоровых в среднем BMI выше, чем у больных
- В сегменте здоровых и непьющих мужчин в среднем BMI ближе к норме, чем в сегменте здоровых и непьющих женщин

In [19]:
# Построим новый признак – BMI (вес в килограммах поделить на квадрат роста в метрах).
df['BMI'] = df['weight']/((df['height']/100)**2)
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years,BMI
id,,,,,,,,,,,,,,
0,18393,Male,168,62.0,110,80,1,1,0,0,1,0,50.0,21.967120
1,20228,Female,156,85.0,140,90,3,1,0,0,1,1,55.0,34.927679
2,18857,Female,165,64.0,130,70,3,1,0,0,0,1,52.0,23.507805
3,17623,Male,169,82.0,150,100,1,1,0,0,1,1,48.0,28.710479
4,17474,Female,156,56.0,100,60,1,1,0,0,0,0,48.0,23.011177

In [65]:
# Гипотеза 1: Медианный BMI по выборке превышает норму (от 18.5 до 25)
if df['BMI'].median()<18.5:
    print("1 - True")
else:
    if df['BMI'].median()>25:
        print("1 - True")
    else:
        print("1 - False")
        
# Гипотеза 2: У женщин в среднем BMI ниже, чем у мужчин
print("2 -",
      df[df['gender'] == 'Female']['BMI'].mean() < df[df['gender'] == 'Female']['BMI'].mean())

# Гипотеза 3: У здоровых в среднем BMI выше, чем у больных
print('3 -',
      df[df['cardio']==0]['BMI'].mean() > df[df['cardio']==1]['BMI'].mean())

# Гипотеза 4: В сегменте здоровых и непьющих мужчин в среднем BMI ближе к норме, чем в сегменте здоровых и непьющих женщин
m = df[(df['cardio']==0) & (df['alco']==0) & (df['gender']=='Male')]['BMI'].mean()
f = df[(df['cardio']==0) & (df['alco']==0) & (df['gender']=='Female')]['BMI'].mean()
if (m-25)<(f-25):
    print("4 - True")
else:
    print("4 - False")

1 - True
2 - False
3 - False
4 - True

**<font color='red'>Вопрос 7 (2 балла).</font> ** Можно заметить, что данные не особо-то чистые, много в них всякой "грязи" и неточностей. Еще лучше мы это увидим, когда обсудим визуализацию данных.

Отфильтруйте следующие сегменты пациентов (считаем это ошибками в данных)
- указанное нижнее значение артериального давления строго выше верхнего
- рост строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили (используйте `pd.Series.quantile`, если не знаете, что это такое – прочитайте)
- вес строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили

Это вовсе не вся чистка данных, которую можно было проделать, но пока остановимся на этом.

Сколько процентов данных (округленно, `round`) мы выбросили?

**<font color='red'>Варианты:</font>**
- 8
- 9
- 10
- 11

In [151]:
# Отфильтруем следующие сегменты пациентов (считаем это ошибками в данных):
# 1) указанное нижнее значение артериального давления строго выше верхнего
# 2) рост строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили 
# 3) вес строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили

low_h, high_h = df['height'].quantile([.025, .975])
low_w, high_w = df['weight'].quantile([.025, .975])

df_err = df[(df['ap_lo'] > df['ap_hi']) |
    (df['height'] < low_h) |
    (df['height'] > high_h) |
    (df['weight'] < low_w) |
    (df['weight'] > high_w)]

print('errors -', df_err.shape[0], ', totals -', df.shape[0])
round(df_err.shape[0]/df.shape[0]*100)

errors - 6741 , totals - 70000

10