<center>
<img src="../../img/ods_stickers.jpg">
## Open Machine Learning Course
<center>
Author: Yury Kashnitsky, Data Scientist at Mail.Ru Group

This material is subject to the terms and conditions of the license [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Free use is permitted for any non-comercial purpose with an obligatory indication of the names of the authors and of the source.

## <center>Assignment #6. Part 1
### <center> Beating benchmarks in "Catch Me If You Can: Intruder Detection through Webpage Session Tracking"
    
[Competition](https://www.kaggle.com/c/catch-me-if-you-can-intruder-detection-through-webpage-session-tracking2). The task is to beat "Assignment 6 baseline".

In [64]:
import seaborn as sns
import os
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from scipy.sparse import csr_matrix, hstack
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import roc_auc_score
from sklearn.linear_model import LogisticRegression, LogisticRegressionCV

import warnings
warnings.filterwarnings('ignore')
%matplotlib inline
from matplotlib import pyplot as plt

Reading original data

In [92]:
PATH_TO_DATA = ('../../data')
train_df = pd.read_csv(os.path.join(PATH_TO_DATA, 'train_sessions.csv'), index_col='session_id')
test_df = pd.read_csv(os.path.join(PATH_TO_DATA, 'test_sessions.csv'), index_col='session_id')

In [93]:
def write_to_submission_file(predicted_labels, out_file,
                             target='target', index_label="session_id"):
    predicted_df = pd.DataFrame(predicted_labels,
                                index = np.arange(1, predicted_labels.shape[0] + 1),
                                columns=[target])
    predicted_df.to_csv(out_file, index_label=index_label)

In [8]:
train_df.head()

,site1,time1,site2,time2,site3,time3,site4,time4,site5,time5,...,time6,site7,time7,site8,time8,site9,time9,site10,time10,target
session_id,,,,,,,,,,,,,,,,,,,,,
1,718,2014-02-20 10:02:45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,890,2014-02-22 11:19:50,941.0,2014-02-22 11:19:50,3847.0,2014-02-22 11:19:51,941.0,2014-02-22 11:19:51,942.0,2014-02-22 11:19:51,...,2014-02-22 11:19:51,3847.0,2014-02-22 11:19:52,3846.0,2014-02-22 11:19:52,1516.0,2014-02-22 11:20:15,1518.0,2014-02-22 11:20:16,0
3,14769,2013-12-16 16:40:17,39.0,2013-12-16 16:40:18,14768.0,2013-12-16 16:40:19,14769.0,2013-12-16 16:40:19,37.0,2013-12-16 16:40:19,...,2013-12-16 16:40:19,14768.0,2013-12-16 16:40:20,14768.0,2013-12-16 16:40:21,14768.0,2013-12-16 16:40:22,14768.0,2013-12-16 16:40:24,0
4,782,2014-03-28 10:52:12,782.0,2014-03-28 10:52:42,782.0,2014-03-28 10:53:12,782.0,2014-03-28 10:53:42,782.0,2014-03-28 10:54:12,...,2014-03-28 10:54:42,782.0,2014-03-28 10:55:12,782.0,2014-03-28 10:55:42,782.0,2014-03-28 10:56:12,782.0,2014-03-28 10:56:42,0
5,22,2014-02-28 10:53:05,177.0,2014-02-28 10:55:22,175.0,2014-02-28 10:55:22,178.0,2014-02-28 10:55:23,177.0,2014-02-28 10:55:23,...,2014-02-28 10:55:59,175.0,2014-02-28 10:55:59,177.0,2014-02-28 10:55:59,177.0,2014-02-28 10:57:06,178.0,2014-02-28 10:57:11,0

Separate target feature

In [94]:
y_train = train_df['target']
train_df.drop('target',axis=1)

,site1,time1,site2,time2,site3,time3,site4,time4,site5,time5,site6,time6,site7,time7,site8,time8,site9,time9,site10,time10
session_id,,,,,,,,,,,,,,,,,,,,
1,718,2014-02-20 10:02:45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,890,2014-02-22 11:19:50,941.0,2014-02-22 11:19:50,3847.0,2014-02-22 11:19:51,941.0,2014-02-22 11:19:51,942.0,2014-02-22 11:19:51,3846.0,2014-02-22 11:19:51,3847.0,2014-02-22 11:19:52,3846.0,2014-02-22 11:19:52,1516.0,2014-02-22 11:20:15,1518.0,2014-02-22 11:20:16
3,14769,2013-12-16 16:40:17,39.0,2013-12-16 16:40:18,14768.0,2013-12-16 16:40:19,14769.0,2013-12-16 16:40:19,37.0,2013-12-16 16:40:19,39.0,2013-12-16 16:40:19,14768.0,2013-12-16 16:40:20,14768.0,2013-12-16 16:40:21,14768.0,2013-12-16 16:40:22,14768.0,2013-12-16 16:40:24
4,782,2014-03-28 10:52:12,782.0,2014-03-28 10:52:42,782.0,2014-03-28 10:53:12,782.0,2014-03-28 10:53:42,782.0,2014-03-28 10:54:12,782.0,2014-03-28 10:54:42,782.0,2014-03-28 10:55:12,782.0,2014-03-28 10:55:42,782.0,2014-03-28 10:56:12,782.0,2014-03-28 10:56:42
5,22,2014-02-28 10:53:05,177.0,2014-02-28 10:55:22,175.0,2014-02-28 10:55:22,178.0,2014-02-28 10:55:23,177.0,2014-02-28 10:55:23,178.0,2014-02-28 10:55:59,175.0,2014-02-28 10:55:59,177.0,2014-02-28 10:55:59,177.0,2014-02-28 10:57:06,178.0,2014-02-28 10:57:11
6,570,2014-03-18 15:18:31,21.0,2014-03-18 15:18:39,570.0,2014-03-18 15:23:02,21.0,2014-03-18 15:23:43,21.0,2014-03-18 15:29:57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,803,2014-02-13 16:45:35,23.0,2014-02-13 16:45:35,5956.0,2014-02-13 16:45:35,17513.0,2014-02-13 16:45:35,37.0,2014-02-13 16:46:05,21.0,2014-02-13 16:47:14,803.0,2014-02-13 16:47:14,17514.0,2014-02-13 16:47:15,17514.0,2014-02-13 16:47:16,17514.0,2014-02-13 16:47:17
8,22,2013-04-12 10:27:26,21.0,2013-04-12 10:27:26,29.0,2013-04-12 10:27:28,5041.0,2013-04-12 10:27:29,14422.0,2013-04-12 10:27:29,23.0,2013-04-12 10:27:29,21.0,2013-04-12 10:27:29,5041.0,2013-04-12 10:27:31,14421.0,2013-04-12 10:27:31,14421.0,2013-04-12 10:27:32
9,668,2014-03-17 16:23:08,940.0,2014-03-17 16:23:35,942.0,2014-03-17 16:23:35,941.0,2014-03-17 16:23:35,941.0,2014-03-17 16:23:36,942.0,2014-03-17 16:23:36,940.0,2014-03-17 16:23:36,23.0,2014-03-17 16:23:52,21.0,2014-03-17 16:23:52,22.0,2014-03-17 16:23:53
10,3700,2014-02-20 16:09:13,229.0,2014-02-20 16:10:08,570.0,2014-02-20 16:10:08,21.0,2014-02-20 16:10:08,229.0,2014-02-20 16:10:24,21.0,2014-02-20 16:10:24,21.0,2014-02-20 16:10:29,21.0,2014-02-20 16:10:39,2336.0,2014-02-20 16:10:40,2044.0,2014-02-20 16:10:40
11,229,2014-01-27 09:41:01,1500.0,2014-01-27 09:42:33,33.0,2014-01-27 09:42:33,1500.0,2014-01-27 09:42:34,391.0,2014-01-27 09:42:34,35.0,2014-01-27 09:42:34,29.0,2014-01-27 09:42:34,2276.0,2014-01-27 09:42:35,40305.0,2014-01-27 09:42:40,23.0,2014-01-27 09:42:41
12,37,2014-01-22 13:05:21,39.0,2014-01-22 13:05:24,3592.0,2014-01-22 13:05:32,890.0,2014-01-22 13:05:44,35.0,2014-01-22 13:05:44,29.0,2014-01-22 13:05:44,22.0,2014-01-22 13:05:44,30.0,2014-01-22 13:05:44,33.0,2014-01-22 13:05:44,3592.0,2014-01-22 13:05:44
13,23,2014-03-31 13:51:43,747.0,2014-03-31 13:51:44,23.0,2014-03-31 13:51:46,749.0,2014-03-31 13:51:46,23.0,2014-03-31 13:52:45,21.0,2014-03-31 13:52:46,752.0,2014-03-31 13:54:43,55.0,2014-03-31 14:10:12,56.0,2014-03-31 14:10:12,55.0,2014-03-31 14:10:13
14,262,2014-04-04 13:12:14,322.0,2014-04-04 13:12:15,625.0,2014-04-04 13:12:16,52.0,2014-04-04 13:12:16,37.0,2014-04-04 13:12:23,152.0,2014-04-04 13:12:31,21.0,2014-04-04 13:12:42,2164.0,2014-04-04 13:12:43,2164.0,2014-04-04 13:12:44,30.0,2014-04-04 13:12:45
15,2883,2014-03-22 11:33:00,2945.0,2014-03-22 11:33:16,167.0,2014-03-22 11:33:19,167.0,2014-03-22 11:33:20,167.0,2014-03-22 11:33:21,21.0,2014-03-22 11:33:21,3.0,2014-03-22 11:33:22,229.0,2014-03-22 11:33:27,21.0,2014-03-22 11:33:27,76.0,2014-03-22 11:33:27
16,28395,2014-02-04 09:31:46,248.0,2014-02-04 09:31:46,728.0,2014-02-04 09:31:47,3364.0,2014-02-04 09:31:47,3362.0,2014-02-04 09:31:47,1434.0,2014-02-04 09:31:47,30.0,2014-02-04 09:31:47,102.0,2014-02-04 09:31:47,727.0,2014-02-04 09:31:47,28396.0,2014-02-04 09:31:47
17,63,2014-02-24 08:06:14,167.0,2014-02-24 08:07:25,167.0,2014-02-24 08:07:26,359.0,2014-02-24 08:07:27,167.0,2014-02-24 08:07:27,167.0,2014-02-24 08:07:30,167.0,2014-02-24 08:07:31,360.0,2014-02-24 08:07:31,363.0,2014-02-24 08:07:31,362.0,2014-02-24 08:07:31
18,178,2013-02-12 15:15:14,343.0,2013-02-12 15:15:14,167.0,2013-02-12 15:16:26,270.0,2013-02-12 15:16:26,167.0,2013-02-12 15:16:29,2726.0,2013-02-12 15:16:31,2727.0,2013-02-12 15:16:31,2725.0,2013-02-12 15:16:31,2724.0,2013-02-12 15:16:31,2732.0,2013-02-12 15:16:31
19,22736,2013-04-12 11:06:58,22736.0,2013-04-12 11:07:08,22736.0,2013-04-12 11:07:19,22736.0,2013-04-12 11:07:28,22736.0,2013-04-12 11:07:38,22736.0,2013-04-12 11:07:48,22736.0,2013-04-12 11:07:58,22736.0,2013-04-12 11:08:08,22736.0,2013-04-12 11:08:18,22736.0,2013-04-12 11:08:20
20,33,2014-01-29 11:27:15,35.0,2014-01-29 11:27:15,52.0,2014-01-29 11:27:16,23.0,2014-01-29 11:27:16,29.0,2014-01-29 11:27:16,2439.0,2014-01-29 11:27:19,2439.0,2014-01-29 11:27:20,29.0,2014-01-29 11:27:20,803.0,2014-01-29 11:27:20,23.0,2014-01-29 11:27:20
21,676,2013-05-12 12:52:12,812.0,2013-05-12 12:52:12,982.0,2013-05-12 12:52:12,39.0,2013-05-12 12:52:12,812.0,2013-05-12 12:52:13,23.0,2013-05-12 12:52:16,677.0,2013-05-12 12:52:16,22616.0,2013-05-12 12:52:16,63.0,2013-05-12 12:52:35,679.0,2013-05-12 12:52:39
22,21,2014-02-04 09:59:41,21.0,2014-02-04 09:59:55,22.0,2014-02-04 09:59:56,23.0,2014-02-04 09:59:58,22.0,2014-02-04 10:00:56,21.0,2014-02-04 10:00:56,21.0,2014-02-04 10:00:57,23.0,2014-02-04 10:00:57,63.0,2014-02-04 10:02:48,NaN,NaN
23,782,2014-03-26 11:27:00,782.0,2014-03-26 11:27:30,782.0,2014-03-26 11:28:00,782.0,2014-03-26 11:28:30,782.0,2014-03-26 11:29:00,782.0,2014-03-26 11:29:30,780.0,2014-03-26 11:29:55,780.0,2014-03-26 11:29:57,782.0,2014-03-26 11:30:00,782.0,2014-03-26 11:30:30
24,812,2013-12-12 20:51:18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,23,2013-11-21 12:59:23,16249.0,2013-11-21 12:59:24,16249.0,2013-11-21 12:59:25,66.0,2013-11-21 13:00:23,939.0,2013-11-21 13:00:24,939.0,2013-11-21 13:00:25,229.0,2013-11-21 13:00:30,21.0,2013-11-21 13:00:30,23.0,2013-11-21 13:00:30,7270.0,2013-11-21 13:00:32
26,23,2013-02-12 10:17:09,22.0,2013-02-12 10:17:09,25013.0,2013-02-12 10:17:21,25013.0,2013-02-12 10:18:06,3430.0,2013-02-12 10:18:06,25013.0,2013-02-12 10:18:51,66.0,2013-02-12 10:19:33,63.0,2013-02-12 10:19:33,25013.0,2013-02-12 10:19:36,25013.0,2013-02-12 10:20:21
27,23,2014-02-04 08:47:31,291.0,2014-02-04 08:47:31,2894.0,2014-02-04 08:47:31,1643.0,2014-02-04 08:47:31,2893.0,2014-02-04 08:47:31,2893.0,2014-02-04 08:47:32,291.0,2014-02-04 08:47:32,2896.0,2014-02-04 08:47:32,48.0,2014-02-04 08:48:28,291.0,2014-02-04 08:48:32
28,780,2014-03-25 10:43:58,780.0,2014-03-25 10:44:00,780.0,2014-03-25 10:44:05,780.0,2014-03-25 10:44:06,780.0,2014-03-25 10:44:08,780.0,2014-03-25 10:44:09,782.0,2014-03-25 10:44:20,780.0,2014-03-25 10:44:33,780.0,2014-03-25 10:44:34,780.0,2014-03-25 10:44:40
29,6289,2013-11-29 13:20:21,27963.0,2013-11-29 13:20:22,18257.0,2013-11-29 13:20:23,27962.0,2013-11-29 13:20:26,21.0,2013-11-29 13:20:26,23.0,2013-11-29 13:20:26,27961.0,2013-11-29 13:20:26,27954.0,2013-11-29 13:20:26,27954.0,2013-11-29 13:20:27,27960.0,2013-11-29 13:20:27
30,2740,2014-04-15 14:55:40,262.0,2014-04-15 14:55:41,539.0,2014-04-15 14:55:42,322.0,2014-04-15 14:55:42,148.0,2014-04-15 14:55:43,539.0,2014-04-15 14:55:43,293.0,2014-04-15 14:55:43,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253532,14678,2014-01-30 09:14:23,14677.0,2014-01-30 09:14:45,167.0,2014-01-30 09:14:56,167.0,2014-01-30 09:14:57,167.0,2014-01-30 09:15:07,3.0,2014-01-30 09:15:08,384.0,2014-01-30 09:15:22,167.0,2014-01-30 09:15:22,14677.0,2014-01-30 09:16:31,14678.0,2014-01-30 09:16:32
253533,22,2014-02-25 10:31:36,3346.0,2014-02-25 10:31:36,23.0,2014-02-25 10:31:36,12382.0,2014-02-25 10:31:38,12382.0,2014-02-25 10:31:39,12382.0,2014-02-25 10:31:40,12382.0,2014-02-25 10:31:41,38.0,2014-02-25 10:31:42,12382.0,2014-02-25 10:31:42,12382.0,2014-02-25 10:31:45
253534,8,2014-03-25 14:52:48,1996.0,2014-03-25 14:52:48,1996.0,2014-03-25 14:52:49,32.0,2014-03-25 14:52:49,1997.0,2014-03-25 14:52:49,1998.0,2014-03-25 14:52:50,1996.0,2014-03-25 14:52:50,30.0,2014-03-25 14:52:50,1997.0,2014-03-25 14:52:50,1998.0,2014-03-25 14:52:51
253535,2428,2013-11-25 10:48:37,2428.0,2013-11-25 10:48:50,2428.0,2013-11-25 10:49:02,2428.0,2013-11-25 10:49:14,2428.0,2013-11-25 10:49:26,2428.0,2013-11-25 10:49:38,2428.0,2013-11-25 10:49:50,2428.0,2013-11-25 10:50:02,2428.0,2013-11-25 10:50:14,2428.0,2013-11-25 10:50:26
253536,76,2014-03-30 12:54:10,76.0,2014-03-30 12:54:18,82.0,2014-03-30 12:54:18,80.0,2014-03-30 12:54:18,80.0,2014-03-30 12:54:19,76.0,2014-03-30 12:54:19,77.0,2014-03-30 12:54:19,76.0,2014-03-30 12:54:25,80.0,2014-03-30 12:54:27,80.0,2014-03-30 12:54:28
253537,812,2013-12-16 10:01:48,173.0,2013-12-16 10:01:51,173.0,2013-12-16 10:02:03,21.0,2013-12-16 10:02:11,21.0,2013-12-16 10:02:14,830.0,2013-12-16 10:02:22,21.0,2013-12-16 10:02:23,23.0,2013-12-16 10:02:23,830.0,2013-12-16 10:02:23,22.0,2013-12-16 10:02:23
253538,306,2014-02-04 13:59:54,56.0,2014-02-04 14:03:58,55.0,2014-02-04 14:03:58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
253539,29,2013-11-22 16:48:11,2097.0,2013-11-22 16:48:12,33.0,2013-11-22 16:48:13,29.0,2013-11-22 16:48:13,35.0,2013-11-22 16:48:13,29.0,2013-11-22 16:48:14,22.0,2013-11-22 16:48:14,2097.0,2013-11-22 16:48:15,35.0,2013-11-22 16:48:16,33.0,2013-11-22 16:48:16
253540,2050,2014-02-18 10:33:46,2856.0,2014-02-18 10:33:46,570.0,2014-02-18 10:33:46,29.0,2014-02-18 10:33:46,22935.0,2014-02-18 10:33:47,2856.0,2014-02-18 10:33:47,18544.0,2014-02-18 10:33:48,22935.0,2014-02-18 10:33:48,29.0,2014-02-18 10:33:48,22935.0,2014-02-18 10:33:49
253541,782,2014-03-17 10:14:03,782.0,2014-03-17 10:14:33,780.0,2014-03-17 10:14:43,780.0,2014-03-17 10:14:52,780.0,2014-03-17 10:14:53,780.0,2014-03-17 10:14:59,778.0,2014-03-17 10:15:01,780.0,2014-03-17 10:15:01,782.0,2014-03-17 10:15:03,780.0,2014-03-17 10:15:03
253542,1514,2014-01-22 15:59:12,855.0,2014-01-22 15:59:12,1518.0,2014-01-22 15:59:12,1524.0,2014-01-22 15:59:13,1520.0,2014-01-22 15:59:13,1517.0,2014-01-22 15:59:13,1524.0,2014-01-22 15:59:16,1524.0,2014-01-22 15:59:17,1519.0,2014-01-22 15:59:17,1524.0,2014-01-22 15:59:18
253543,912,2014-03-25 17:36:09,32.0,2014-03-25 17:36:09,35.0,2014-03-25 17:36:09,1647.0,2014-03-25 17:36:11,912.0,2014-03-25 17:36:11,2896.0,2014-03-25 17:36:11,29.0,2014-03-25 17:36:11,21.0,2014-03-25 17:36:53,1645.0,2014-03-25 17:36:58,21.0,2014-03-25 17:36:58
253544,9738,2013-04-12 16:06:02,9740.0,2013-04-12 16:06:02,9738.0,2013-04-12 16:06:08,9738.0,2013-04-12 16:06:09,9740.0,2013-04-12 16:06:09,9738.0,2013-04-12 16:06:10,9740.0,2013-04-12 16:06:10,3043.0,2013-04-12 16:06:11,32.0,2013-04-12 16:06:11,9738.0,2013-04-12 16:06:11
253545,6003,2014-04-20 17:21:48,6003.0,2014-04-20 17:21:49,6003.0,2014-04-20 17:21:51,6003.0,2014-04-20 17:21:54,6003.0,2014-04-20 17:21:57,6003.0,2014-04-20 17:21:59,6003.0,2014-04-20 17:22:01,6003.0,2014-04-20 17:22:05,6003.0,2014-04-20 17:22:08,NaN,NaN
253546,4368,2014-02-24 10:13:49,17744.0,2014-02-24 10:14:02,17743.0,2014-02-24 10:14:03,29.0,2014-02-24 10:14:03,33.0,2014-02-24 10:14:03,35.0,2014-02-24 10:14:03,4368.0,2014-02-24 10:14:04,37.0,2014-02-24 10:14:11,948.0,2014-02-24 10:14:59,959.0,2014-02-24 10:14:59
253547,39,2014-02-27 14:53:54,8556.0,2014-02-27 14:53:54,1039.0,2014-02-27 14:53:57,812.0,2014-02-27 14:53:57,570.0,2014-02-27 14:53:58,1039.0,2014-02-27 14:53:58,774.0,2014-02-27 14:53:58,812.0,2014-02-27 14:53:58,167.0,2014-02-27 14:55:41,167.0,2014-02-27 14:55:42
253548,677,2013-11-29 13:18:12,812.0,2013-11-29 13:18:56,812.0,2013-11-29 13:20:46,880.0,2013-11-29 13:21:22,677.0,2013-11-29 13:21:46,616.0,2013-11-29 13:21:55,812.0,2013-11-29 13:23:56,616.0,2013-11-29 13:25:09,812.0,2013-11-29 13:25:46,677.0,2013-11-29 13:25:58
253549,3,2014-02-17 16:53:26,8.0,2014-02-17 16:53:39,3.0,2014-02-17 16:53:43,4.0,2014-02-17 16:53:45,3303.0,2014-02-17 16:53:45,6.0,2014-02-17 16:53:48,14.0,2014-02-17 16:53:48,8.0,2014-02-17 16:53:49,14.0,2014-02-17 16:53:49,20488.0,2014-02-17 16:53:49
253550,77,2014-03-24 11:49:51,75.0,2014-03-24 11:49:51,77.0,2014-03-24 11:49:53,75.0,2014-03-24 11:49:56,55.0,2014-03-24 11:50:02,56.0,2014-03-24 11:50:02,55.0,2014-03-24 11:50:03,76.0,2014-03-24 11:50:05,75.0,2014-03-24 11:50:05,80.0,2014-03-24 11:50:05
253551,1039,2014-03-26 14:11:42,812.0,2014-03-26 14:21:17,1039.0,2014-03-26 14:23:57,774.0,2014-03-26 14:25:17,1039.0,2014-03-26 14:27:57,774.0,2014-03-26 14:35:40,1039.0,2014-03-26 14:35:42,774.0,2014-03-26 14:39:41,1039.0,2014-03-26 14:39:42,NaN,NaN
253552,677,2014-02-19 15:05:24,812.0,2014-02-19 15:05:24,812.0,2014-02-19 15:05:25,774.0,2014-02-19 15:05:57,22.0,2014-02-19 15:05:57,570.0,2014-02-19 15:06:11,812.0,2014-02-19 15:09:39,570.0,2014-02-19 15:09:39,570.0,2014-02-19 15:14:15,570.0,2014-02-19 15:14:25
253553,778,2013-11-15 08:34:48,780.0,2013-11-15 08:34:49,780.0,2013-11-15 08:34:59,778.0,2013-11-15 08:35:00,780.0,2013-11-15 08:35:01,778.0,2013-11-15 08:35:03,780.0,2013-11-15 08:35:04,780.0,2013-11-15 08:35:15,778.0,2013-11-15 08:35:16,780.0,2013-11-15 08:35:17
253554,23797,2014-04-15 13:11:32,1171.0,2014-04-15 13:11:34,3.0,2014-04-15 13:11:35,3.0,2014-04-15 13:11:37,8.0,2014-04-15 13:11:38,8.0,2014-04-15 13:11:50,3.0,2014-04-15 13:11:52,25722.0,2014-04-15 13:11:54,25723.0,2014-04-15 13:11:55,4.0,2014-04-15 13:11:58
253555,71,2014-01-29 09:24:35,29.0,2014-01-29 09:24:35,570.0,2014-01-29 09:24:42,29.0,2014-01-29 09:24:46,3.0,2014-01-29 09:25:12,29.0,2014-01-29 09:25:13,5586.0,2014-01-29 09:25:16,5587.0,2014-01-29 09:25:24,5587.0,2014-01-29 09:25:25,5587.0,2014-01-29 09:25:26
253556,9041,2013-04-12 13:11:57,291.0,2013-04-12 13:12:01,23.0,2013-04-12 13:12:03,52.0,2013-04-12 13:12:03,23.0,2013-04-12 13:12:06,2371.0,2013-04-12 13:12:06,2371.0,2013-04-12 13:12:07,2371.0,2013-04-12 13:12:09,52.0,2013-04-12 13:12:12,52.0,2013-04-12 13:12:13
253557,3474,2013-11-25 10:26:54,3474.0,2013-11-25 10:26:58,141.0,2013-11-25 10:27:03,2428.0,2013-11-25 10:27:04,106.0,2013-11-25 10:27:13,2428.0,2013-11-25 10:27:16,2428.0,2013-11-25 10:27:28,2428.0,2013-11-25 10:27:40,2428.0,2013-11-25 10:27:52,148.0,2013-11-25 10:27:53
253558,12727,2013-03-12 16:01:15,12727.0,2013-03-12 16:01:16,2215.0,2013-03-12 16:01:16,38.0,2013-03-12 16:01:17,2215.0,2013-03-12 16:01:17,23.0,2013-03-12 16:01:17,25444.0,2013-03-12 16:01:18,2215.0,2013-03-12 16:01:18,23.0,2013-03-12 16:01:18,21.0,2013-03-12 16:01:18
253559,2661,2013-09-12 14:05:03,15004.0,2013-09-12 14:05:10,5562.0,2013-09-12 14:05:10,5562.0,2013-09-12 14:06:29,5562.0,2013-09-12 14:06:30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
253560,812,2013-12-19 15:20:22,676.0,2013-12-19 15:20:22,814.0,2013-12-19 15:20:22,22.0,2013-12-19 15:20:22,39.0,2013-12-19 15:20:22,812.0,2013-12-19 15:20:23,814.0,2013-12-19 15:20:23,570.0,2013-12-19 15:20:23,22.0,2013-12-19 15:20:24,570.0,2013-12-19 15:20:24
253561,34942,2014-04-25 09:56:52,1429.0,2014-04-25 09:56:53,34942.0,2014-04-25 09:56:53,29.0,2014-04-25 09:56:54,30.0,2014-04-25 09:56:54,34942.0,2014-04-25 09:56:54,5779.0,2014-04-25 09:56:54,30.0,2014-04-25 09:56:55,35.0,2014-04-25 09:56:55,33.0,2014-04-25 09:56:55

Build Tf-Idf features based on sites. You can use `ngram_range`=(1, 3) and `max_features`=100000 or more

In [95]:
import pickle

sites = ['site%s' % i for i in range(1, 11)]
train_df[sites] = train_df[sites].fillna(0).astype('int')
test_df[sites] = test_df[sites].fillna(0).astype('int')

# Load websites dictionary
with open(os.path.join(PATH_TO_DATA, 'site_dic.pkl'), 'rb') as input_file:
    site_dict = pickle.load(input_file)

# Create dataframe for the dictionary
sites_dict = pd.DataFrame(list(site_dict.keys()), index=list(site_dict.values()), columns=['site'])
sites_dict.head()

                                     site
25075              www.abmecatronique.com
13997                     groups.live.com
42436  majeureliguefootball.wordpress.com
30911           cdt46.media.tourinsoft.eu
8104                  www.hdwallpapers.eu

In [201]:
def vec(train, test):
    def trans(x):
        return ' '.join(x)
    
    train_sites = train.apply(lambda x: x.map(sites_dict['site'])).fillna('')
    train_sites = train_sites.apply(lambda x: trans(x), axis=1)
    test_sites = test.apply(lambda x: x.map(sites_dict['site'])).fillna('')
    test_sites = test_sites.apply(lambda x: trans(x), axis=1)
    
    vectorizer = TfidfVectorizer(ngram_range=(1, 3), max_features=100000)
    vectorizer.fit(pd.concat([train_sites, test_sites]))
    
    return vectorizer.transform(train_sites), vectorizer.transform(test_sites)

In [202]:
X_train_sites, X_test_sites = vec(train_df[sites], test_df[sites])

Add features based on the session start time: hour, whether it's morning, day or night and so on.

Scale this features and combine then with Tf-Idf based on sites (you'll need `scipy.sparse.hstack`)

In [229]:
times = ['time%s' % i for i in range(1, 11)]

train_df[times] = train_df[times].fillna(pd.to_datetime('2001-01-01 00:00:00'))
test_df[times] = test_df[times].fillna(pd.to_datetime('2001-01-01 00:00:00'))

def full_times(train_times, test_times):
    
    train_times_, test_times_ = pd.DataFrame(), pd.DataFrame()
    
    for n in times:
        #train
        train_times_[n] = pd.DatetimeIndex(train_times[n]).hour
        train_times_[n+'_day'] = np.round(train_times_[n]/8).astype('int')
        #test
        test_times_[n] = pd.DatetimeIndex(test_times[n]).hour
        test_times_[n+'_day'] = np.round(test_times_[n]/8).astype('int')
        
    scaler = OneHotEncoder(sparse=False)
    
    scaler.fit(pd.concat([train_times_, test_times_]))
    
    return scaler.transform(train_times_), scaler.transform(test_times_)

In [230]:
X_train_times, X_test_times = full_times(train_df[times], test_df[times])

In [231]:
X_train = csr_matrix(hstack([X_train_sites, X_train_times]))
X_test = csr_matrix(hstack([X_test_sites, X_test_times]))

Perform cross-validation with logistic regression.

In [232]:
from sklearn.model_selection import cross_val_score

lr = LogisticRegression(C=1, random_state=17, n_jobs=-1, class_weight='balanced')

skf = StratifiedKFold(n_splits=5, shuffle=True, random_state=17)

cv_aucs = cross_val_score(lr, X_train, y_train, scoring="roc_auc", cv=skf)

print(np.mean(cv_aucs))

0.98579226663

Make prediction for the test set and form a submission file.

In [218]:
lr.fit(X_train, y_train)
test_pred = lr.predict_proba(X_test)[:, 1]

In [219]:
write_to_submission_file(test_pred, os.path.join(PATH_TO_DATA, "assignment6_alice_submission.csv"))