<center>
<img src="../../img/ods_stickers.jpg">
## Open Machine Learning Course
<center>
Author: Yury Kashnitsky, Data Scientist at Mail.Ru Group

This material is subject to the terms and conditions of the license [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Free use is permitted for any non-comercial purpose with an obligatory indication of the names of the authors and of the source.

## <center>Assignment #6. Part 1
### <center> Beating benchmarks in "Catch Me If You Can: Intruder Detection through Webpage Session Tracking"
    
[Competition](https://www.kaggle.com/c/catch-me-if-you-can-intruder-detection-through-webpage-session-tracking2). The task is to beat "Assignment 6 baseline".

In [6]:
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline
from matplotlib import pyplot as plt
import seaborn as sns
import os
import numpy as np
import pandas as pd
from scipy.sparse import csr_matrix, hstack
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import roc_auc_score
from sklearn.linear_model import LogisticRegression, LogisticRegressionCV
from sklearn.feature_extraction.text import TfidfVectorizer

Reading original data

In [12]:
PATH_TO_DATA = ('../../data')
train_df = pd.read_csv(os.path.join(PATH_TO_DATA, 'train_sessions.csv'), index_col='session_id')
test_df = pd.read_csv(os.path.join(PATH_TO_DATA, 'test_sessions.csv'), index_col='session_id')

In [13]:
train_df.head()

,site1,time1,site2,time2,site3,time3,site4,time4,site5,time5,...,time6,site7,time7,site8,time8,site9,time9,site10,time10,target
session_id,,,,,,,,,,,,,,,,,,,,,
1,718,2014-02-20 10:02:45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,890,2014-02-22 11:19:50,941.0,2014-02-22 11:19:50,3847.0,2014-02-22 11:19:51,941.0,2014-02-22 11:19:51,942.0,2014-02-22 11:19:51,...,2014-02-22 11:19:51,3847.0,2014-02-22 11:19:52,3846.0,2014-02-22 11:19:52,1516.0,2014-02-22 11:20:15,1518.0,2014-02-22 11:20:16,0
3,14769,2013-12-16 16:40:17,39.0,2013-12-16 16:40:18,14768.0,2013-12-16 16:40:19,14769.0,2013-12-16 16:40:19,37.0,2013-12-16 16:40:19,...,2013-12-16 16:40:19,14768.0,2013-12-16 16:40:20,14768.0,2013-12-16 16:40:21,14768.0,2013-12-16 16:40:22,14768.0,2013-12-16 16:40:24,0
4,782,2014-03-28 10:52:12,782.0,2014-03-28 10:52:42,782.0,2014-03-28 10:53:12,782.0,2014-03-28 10:53:42,782.0,2014-03-28 10:54:12,...,2014-03-28 10:54:42,782.0,2014-03-28 10:55:12,782.0,2014-03-28 10:55:42,782.0,2014-03-28 10:56:12,782.0,2014-03-28 10:56:42,0
5,22,2014-02-28 10:53:05,177.0,2014-02-28 10:55:22,175.0,2014-02-28 10:55:22,178.0,2014-02-28 10:55:23,177.0,2014-02-28 10:55:23,...,2014-02-28 10:55:59,175.0,2014-02-28 10:55:59,177.0,2014-02-28 10:55:59,177.0,2014-02-28 10:57:06,178.0,2014-02-28 10:57:11,0

Separate target feature

In [14]:
y = train_df['target']

Build Tf-Idf features based on sites. You can use `ngram_range`=(1, 3) and `max_features`=100000 or more

In [85]:
sites = ['site%s' % i for i in range(1, 11)]
train_df[sites] = train_df[sites].fillna(0).astype('int')
test_df[sites] = test_df[sites].fillna(0).astype('int')

# Load websites dictionary
with open(os.path.join(PATH_TO_DATA, 'site_dic.pkl'), 'rb') as input_file:
    site_dict = pickle.load(input_file)

# Create dataframe for the dictionary
sites_dict = pd.DataFrame(list(site_dict.keys()), index=list(site_dict.values()), columns=['site'])
sites_dict.head()

Websites total: 48371

                                     site
25075              www.abmecatronique.com
13997                     groups.live.com
42436  majeureliguefootball.wordpress.com
30911           cdt46.media.tourinsoft.eu
8104                  www.hdwallpapers.eu

In [152]:
full_sites = train_df[sites].apply(lambda x: x.map(sites_dict['site'])).fillna('')

full_sites.head()
vectorizer = TfidfVectorizer(ngram_range=(1, 3), max_features=10)

X = vectorizer.fit_transform(full_sites.apply(lambda x: ' '.join(x), axis=1))
idf = vectorizer.idf_
print(dict(zip(vectorizer.get_feature_names(), idf)))
#print(vectorizer.vocabulary_)

{'com': 1.1256646582270051, 'com www': 1.5880690814747489, 'fr': 1.6466285990383043, 'google': 1.5802109812226628, 'google com': 1.7345671694990967, 'google fr': 2.2026538132940781, 'net': 2.4018828501183513, 'org': 2.8640785532854798, 'www': 1.3201781684949954, 'www google': 2.013548089799218}

In [151]:
#print(full_sites.apply(lambda x: ' '.join(x), axis=1))

session_id
1                          rr.office.microsoft.com
2         maps.google.com mts0.google.com khms0.google.c...
3         cbk1.googleapis.com accounts.google.com cbk0.g...
4         annotathon.org annotathon.org annotathon.org a...
5         apis.google.com fr.wikipedia.org bits.wikimedi...
6         plus.google.com www.google.fr plus.google.com ...
7         translate.google.com www.google.com search.twi...
8         apis.google.com www.google.fr www.facebook.com...
9         cbks0.google.com maps.google.fr mts1.google.co...
10        ec.gc.ca clients1.google.fr plus.google.com ww...
11        clients1.google.fr club.caradisiac.com static....
12        twitter.com accounts.google.com billetterie.cl...
13        www.google.com fr.openclassrooms.com www.googl...
14        apnx-match.dotomi.com um.simpli.fi ocsp.comodo...
15        www.fff.fr auvergne.fff.fr www.bing.com www.bi...
16        worldcup-in-brazil.com w.sharethis.com i1.wp.c...
17        ieonline.microsoft.com www.bing.com www.bing.c...
18        meta.wikimedia.org en.wikipedia.org www.bing.c...
19        www.radiorva.com www.radiorva.com www.radiorva...
20        static.ak.facebook.com s-static.ak.facebook.co...
21        accounts.youtube.com mail.google.com www.gmail...
22        www.google.fr www.google.fr apis.google.com ww...
23        annotathon.org annotathon.org annotathon.org a...
24                                 mail.google.com
25        www.google.com jd.apec.fr jd.apec.fr go.micros...
26        www.google.com apis.google.com 744-events.olar...
27        www.google.com halc.iadvize.com tag.boulanger....
28        blast.ncbi.nlm.nih.gov blast.ncbi.nlm.nih.gov ...
29        ptlogin2.qq.com openapi.qzone.qq.com cgi.conne...
30        av.mediapostcommunication.net apnx-match.dotom...
                                ...
253532    letemps.wemfbox.ch www.letemps.ch www.bing.com...
253533    apis.google.com www.dropbox.com www.google.com...
253534    windowslive.tt.omtrdc.net maroc.msn.com maroc....
253535    live.lemde.fr live.lemde.fr live.lemde.fr live...
253536    www.youtube.com www.youtube.com r2---sn-gxo5ux...
253537    mail.google.com fr-fr.facebook.com fr-fr.faceb...
253538    office.microsoft.com safebrowsing.clients.goog...
253539    www.facebook.com images.4ever.eu static.ak.fac...
253540    trk-fr.makazi.com a.ad-sys.com plus.google.com...
253541    annotathon.org annotathon.org blast.ncbi.nlm.n...
253542    static.leboncoin.fr deliv.leboncoin.fr 193.164...
253543    www.pagesjaunes.fr connect.facebook.net s-stat...
253544    secure.fr.vente-privee.com static.vente-privee...
253545    ent-shasta-rrs.symantec.com ent-shasta-rrs.sym...
253546    www.tumblr.com lesjoiesducode.fr ljdchost.com ...
253547    accounts.google.com french.ruvr.ru talkgadget....
253548    drive.google.com mail.google.com mail.google.c...
253549    login.live.com windowslive.tt.omtrdc.net login...
253550    i1.ytimg.com s.ytimg.com i1.ytimg.com s.ytimg....
253551    talkgadget.google.com mail.google.com talkgadg...
253552    drive.google.com mail.google.com mail.google.c...
253553    www.ncbi.nlm.nih.gov blast.ncbi.nlm.nih.gov bl...
253554    d1ivexoxmp59q7.cloudfront.net www.hotmail.com ...
253555    js.microsoft.com www.facebook.com plus.google....
253556    www.macway.com halc.iadvize.com www.google.com...
253557    ec2-us-east-1a.cedexis.com ec2-us-east-1a.cede...
253558    boutique.orange.fr boutique.orange.fr rainbow-...
253559    cran.r-project.org www.stats.ox.ac.uk mirror.i...
253560    mail.google.com accounts.youtube.com clients2....
253561    www.embauche.com static.pagesjaunes.fr www.emb...
Length: 253561, dtype: object

Add features based on the session start time: hour, whether it's morning, day or night and so on.

In [ ]:
# You code here

Scale this features and combine then with Tf-Idf based on sites (you'll need `scipy.sparse.hstack`)

In [ ]:
# You code here

Perform cross-validation with logistic regression.

In [ ]:
# You code here

Make prediction for the test set and form a submission file.

In [ ]:
test_pred = # You code here

In [ ]:
def write_to_submission_file(predicted_labels, out_file,
                             target='target', index_label="session_id"):
    predicted_df = pd.DataFrame(predicted_labels,
                                index = np.arange(1, predicted_labels.shape[0] + 1),
                                columns=[target])
    predicted_df.to_csv(out_file, index_label=index_label)

In [ ]:
write_to_submission_file(test_pred, "assignment6_alice_submission.csv")