In [1]:
from pathlib import Path

import pandas as pd

In [2]:
PATH_TO_DATA = Path("../../_static/data/assignment1")

In [3]:
df = pd.read_csv(PATH_TO_DATA / "athlete_events.csv.zip", index_col="ID")
df.head(2)

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
ID,,,,,,,,,,,,,,
1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN

In [4]:
# solution code
# male
df.loc[(df.Year == 1992) & (df["Sex"] == "M"), "Age"].min()

11.0

In [5]:
# female
df.loc[(df.Year == 1992) & (df["Sex"] == "F"), "Age"].min()

12.0

In [6]:
# solution code
q = '(Year == 2012) & (Sex == "M")'
# dfquery(q) equals to data[(dfYear == 2012) & (dfSex == 'M')]
sportsmen_count = len(df.query(q).drop_duplicates(subset="Name"))

basketball_count = len(
    df.query(q).query('Sport == "Basketball"').drop_duplicates(subset="Name")
)

print("%.1f" % (basketball_count / sportsmen_count * 100))

2.5

In [7]:
# solution code
q = '(Year == 2000) & (Sex == "F") & (Sport == "Tennis")'
(df.query(q).describe().Height)

count    125.000000
mean     171.792000
std        6.458673
min      150.000000
25%      168.000000
50%      172.000000
75%      176.000000
max      191.000000
Name: Height, dtype: float64

In [8]:
# solution code
max_weight_idx = df[df.Year == 2006].Weight.idxmax()

(df[df.Year == 2006].loc[max_weight_idx].Sport)

'Skeleton'

In [9]:
df[df.Year == 2006].Season.unique()

array(['Winter'], dtype=object)

In [10]:
# solution code
len(df[df.Name == "John Aalberg"].drop_duplicates(subset="Year").Year)

2

In [11]:
len(df[df.Name == "John Aalberg"].groupby("Year"))

2

In [12]:
# solution code
q = '(Year == 2008) & (Team == "Switzerland") & (Medal == "Gold") & (Sport == "Tennis")'
df.query(q).shape[0]

2

In [13]:
q = '(Year == 2008) & (Team == "Switzerland")'
(df.query(q).groupby(["Medal", "Sport"]).get_group(("Gold", "Tennis")).shape[0])

2

In [14]:
# solution code
spain_medals = len(
    df.query('(Year == 2016) & (Team == "Spain")').dropna(subset=["Medal"])
)

italy_medals = len(
    df.query('(Year == 2016) & (Team == "Italy")').dropna(subset=["Medal"])
)

spain_medals, italy_medals

(43, 70)

In [15]:
(
    df[df.Year == 2016]
    .dropna(subset=["Medal"])
    .groupby("Team")
    .size()[["Spain", "Italy"]]
)

Team
Spain    43
Italy    70
dtype: int64

In [16]:
# solution code
participants_2008 = df[df.Year == 2008].drop_duplicates(subset="Name")

print("[15, 25): ", len(participants_2008.query("(Age >= 15) & (Age < 25)")))

print("[25, 35): ", len(participants_2008.query("(Age >= 25) & (Age < 35)")))

print("[35, 45): ", len(participants_2008.query("(Age >= 35) & (Age < 45)")))

print("[45, 55]: ", len(participants_2008.query("(Age >= 45) & (Age <= 55)")))

[15, 25):  4776
[25, 35):  5373
[35, 45):  630
[45, 55]:  78

In [17]:
def age_category(age):
    """Maps age to four categories"""

    if 15 <= age < 25:
        return "[15, 25)"
    elif 25 <= age < 35:
        return "[25, 35)"
    elif 35 <= age < 45:
        return "[35, 45)"
    elif 45 <= age <= 55:
        return "[45, 55]"


# map() applies age_category() function to every value in dfAge
df["age_category"] = df.Age.map(age_category)
(df[df.Year == 2008].drop_duplicates(subset="Name").groupby("age_category").size())

age_category
[15, 25)    4776
[25, 35)    5373
[35, 45)     630
[45, 55]      78
dtype: int64

In [18]:
# solution code
pd.crosstab(df.City, df.Season).loc[["Atlanta", "Squaw Valley"]]

Season        Summer  Winter
City
Atlanta        13780       0
Squaw Valley       0    1116

In [19]:
# solution code
abs(df[df.Year == 1994].Sport.nunique() - df[df.Year == 2002].Sport.nunique())

3