<center>
<img src="../../img/ods_stickers.jpg" />
    
## [mlcourse.ai](https://mlcourse.ai) â€“ Open Machine Learning Course 
Author: Arina Lopukhova (@erynn). Edited by [Yury Kashnitsky](https://yorko.github.io) (@yorko) and Vadim Shestopalov (@vchulski). This material is subject to the terms and conditions of the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license. Free use is permitted for any non-commercial purpose.

# <center>Assignment #1. Fall 2019. Solution
## <center>Exploratory data analysis of Olympic games with Pandas
    
<img src='../../img/olympic_logo.png' width=50%>

Prior to working on the assignment, you'd better check out the corresponding course material:
 - [Exploratory data analysis with Pandas](https://nbviewer.jupyter.org/github/Yorko/mlcourse_open/blob/master/jupyter_english/topic01_pandas_data_analysis/topic1_pandas_data_analysis.ipynb?flush_cache=true), the same as an interactive web-based [Kaggle Kernel](https://www.kaggle.com/kashnitsky/topic-1-exploratory-data-analysis-with-pandas)
 - first lectures in mlcourse.ai [YouTube playlist ](https://www.youtube.com/watch?v=QKTuw4PNOsU&list=PLVlY_7IJCMJeRfZ68eVfEcu-UcN9BbwiX) 
 - you can also practice with demo assignments, which are simpler and already shared with solutions: [A1 demo](https://www.kaggle.com/kashnitsky/a1-demo-pandas-and-uci-adult-dataset), [solution](https://www.kaggle.com/kashnitsky/a1-demo-pandas-and-uci-adult-dataset-solution)

### Your task is to:
 1. write code and perform computations in the cells below
 2. choose answers in the [webform](https://docs.google.com/forms/d/1JxhQ9Bg4OpM3E5N47ZuRbILgDuMRbvEnUbDMZK8L-NU). Solutions will be shared only with those who've filled in this form 
 3. submit answers with some email and **remember it**! This will be your ID during the course. Specify your real full name in the form as well (no nicks allowed in the final top-100 [rating](https://mlcourse.ai/rating)). If in doubt, you can re-submit the form till the deadline for A1, no problem, but stick to only one email.
 
### <center> Deadline for A1: 2019 September 15, 20:59 GMT (London time)
    
You'll get up to 10 credits for this assignment.

### How to get help
In [ODS Slack](https://opendatascience.slack.com) (if you still don't have access, fill in the [form](https://docs.google.com/forms/d/10HAN5huM996snUKjsNYyT_oOlm2uOsTKulKurb3oiNM/) mentioned on the mlcourse.ai main page), we have a channel **#mlcourse_ai_news** with announcements from the course team.
You can discuss the course content freely in the **#mlcourse_ai** channel (we still have a huge Russian-speaking group, they have a separate channel **#mlcourse_ai_rus**).

Here's how you reply in a thread (press this dialog icon to drill down into a thread):

<img src="../../img/start_a_thread.png" />

Please stick to special threads *a1_q1-5_fall2019* and *a1_q6-10_fall2019* in **#mlcourse_ai_news** for your questions on A1. Help each other without sharing correct code and answers. Our TA **Vadim @vchulski** is there to help (only in the mentioned thread, do not write to him directly).

Lastly, you can save useful messages by pinning them, further you can find pinned items on the top, just below the channel name:

<img src="../../img/pinned_item.png" />

### Assignment 
__There are ten questions about 120 years of Olympic history in this task. Your task is to fill in the missing Python code and choose answers in [this web-form](https://docs.google.com/forms/d/1JxhQ9Bg4OpM3E5N47ZuRbILgDuMRbvEnUbDMZK8L-NU).__

Download the file `athlete_events.csv` from [here](https://drive.google.com/file/d/1f5v6Z2ayc7h698FG_98wP5x1Y2zZQeox/view?usp=sharing) (scraped by [rgriffin](https://www.randigriffin.com/) from www.sports-reference.com). The dataset has the following features:

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [1]:
import pandas as pd

In [2]:
# Change the path to the dataset file if needed. 
PATH = '../../data/athlete_events.csv'

In [3]:
data = pd.read_csv(PATH)
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

__1. How old were the youngest male and female participants of the 1992 Olympics?__

- 16 and 15
- 14 and 13 
- 13 and 11
- 11 and 12 **[+]**

Straightforward way:

In [4]:
# male
data.loc[(data.Year == 1992) & (data['Sex'] == 'M'), 'Age'].min()

11.0

In [5]:
# female
data.loc[(data.Year == 1992) & (data['Sex'] == 'F'), 'Age'].min()

12.0

A "fancier" way:

In [6]:
(data[data.Year == 1992]
.groupby('Sex')
.agg('min')
.Age)

Sex
F    12.0
M    11.0
Name: Age, dtype: float64

__2. What was the percentage of male basketball players among all the male participants of the 2012 Olympics? Round the answer to the first decimal.__

*Hint:* drop duplicate athletes where necessary to count each athlete just once. This applies to other questions too.

- 0.2
- 1.5 
- 2.5 **[+]**
- 7.7

In [7]:
q = '(Year == 2012) & (Sex == "M")'
# data.query(q) equals to data[(data.Year == 2012) & (data.Sex == 'M')]
sportsmen_count = len(data.query(q)
                     .drop_duplicates(subset='Name'))
basketball_count = len(data.query(q)
                    .query('Sport == "Basketball"')
                    .drop_duplicates(subset='Name'))

print('%.1f' % (basketball_count / sportsmen_count * 100))

2.5

__3. What are the mean and standard deviation of height for female tennis players participated in the 2000 Olympics? Round the answer to the first decimal.__

- 171.8 and 6.5 **[+]**
- 179.4 and 10
- 180.7 and 6.7
- 182.4 and 9.1

In [8]:
q = '(Year == 2000) & (Sex == "F") & (Sport == "Tennis")'
(data.query(q)
.describe()
.Height)

count    125.000000
mean     171.792000
std        6.458673
min      150.000000
25%      168.000000
50%      172.000000
75%      176.000000
max      191.000000
Name: Height, dtype: float64

__4. Find the heaviest athlete among 2006 Olympics participants. What sport did he or she do?__

- Judo
- Bobsleigh 
- Skeleton **[+]**
- Boxing

In [9]:
max_weight_idx = (data[data.Year == 2006]
                 .Weight
                 .idxmax())

(data[data.Year == 2006]
.loc[max_weight_idx]
.Sport)

'Skeleton'

In [10]:
data[data.Year == 2006].Season.unique()

array(['Winter'], dtype=object)

__5. How many times did John Aalberg participate in the Olympics held in different years?__

- 0
- 1 
- 2 **[+]**
- 3

Straightforward way:

In [11]:
len(data[data.Name == 'John Aalberg']
   .drop_duplicates(subset='Year')
   .Year)

2

"Fancier" way:

In [12]:
len(data[data.Name == 'John Aalberg']
   .groupby('Year'))

2

__6. How many gold medals in tennis did the Switzerland team win at the 2008 Olympics?__

- 0
- 1 
- 2 **[+]**
- 3

Straightforward way:

In [13]:
q = '(Year == 2008) & (Team == "Switzerland") & (Medal == "Gold") & (Sport == "Tennis")'
data.query(q).shape[0]

2

"Fancier" way:

In [14]:
q = '(Year == 2008) & (Team == "Switzerland")'
(data.query(q)
.groupby(['Medal', 'Sport'])
.get_group(('Gold', 'Tennis'))
.shape[0])

2

__7. Is it true that Spain won fewer medals than Italy at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__ 

- Yes **[+]**
- No

Straightforward way:

In [15]:
Spain_medals = len(data.query('(Year == 2016) & (Team == "Spain")')
                        .dropna(subset=['Medal']))

Italy_medals = len(data.query('(Year == 2016) & (Team == "Italy")')
                   .dropna(subset=['Medal']))

Spain_medals, Italy_medals

(43, 70)

"Fancier" way:

In [16]:
(data[data.Year == 2016]
.dropna(subset=['Medal']) 
.groupby('Team') 
.size()
[['Spain', 'Italy']])

Team
Spain    43
Italy    70
dtype: int64

__8. What are the most and least common age groups among the participants of the 2008 Olympics?__
- [45-55] and [25-35) correspondingly **[+]**
- [45-55] and [15-25) correspondingly
- [35-45) and [25-35) correspondingly
- [45-55] and [35-45) correspondingly

Straightforward way:

In [17]:
participants_2008 = (data[data.Year == 2008]
                    .drop_duplicates(subset='Name'))

print('[15, 25): ', len(participants_2008.query('(Age >= 15) & (Age < 25)')))

print('[25, 35): ', len(participants_2008.query('(Age >= 25) & (Age < 35)')))

print('[35, 45): ', len(participants_2008.query('(Age >= 35) & (Age < 45)')))

print('[45, 55]: ', len(participants_2008.query('(Age >= 45) & (Age <= 55)')))

[15, 25):  4776
[25, 35):  5373
[35, 45):  630
[45, 55]:  78

"Fancier" way:

In [18]:
def age_category(age):
    '''Maps age to four categories'''

    if 15 <= age < 25:
        return '[15, 25)'
    elif 25 <= age < 35:
        return '[25, 35)'
    elif 35 <= age < 45:
        return '[35, 45)'
    return '[45, 55]'


# map() applies age_category() function to every value in data.Age
data['age_category'] = data.Age.map(age_category)
(data[data.Year == 2008]
.drop_duplicates(subset='Name')  
.groupby('age_category')
.size())

age_category
[15, 25)    4776
[25, 35)    5373
[35, 45)     630
[45, 55]     101
dtype: int64

__9. Is it true that there were Summer Olympics held in Atlanta? Is it true that there were Winter Olympics held in Squaw Valley?__

- Yes, Yes **[+]**
- Yes, No
- No, Yes 
- No, No

In [19]:
(pd.crosstab(data.City, data.Season)
.loc[['Atlanta', 'Squaw Valley']])

Season        Summer  Winter
City
Atlanta        13780       0
Squaw Valley       0    1116

__10. What is the absolute difference between the number of unique sports at the 1986 Olympics and 2002 Olympics?__

- 3 
- 10
- 15 **[+]**
- 27

In [20]:
abs(data[data.Year == 1986].Sport.nunique() - data[data.Year == 2002].Sport.nunique())

15